<div class="bars-example" *ngIf="vm$ | async as vm; else loading">
  <vic-xy-chart
    class="xy-chart"
    [margin]="margin"
    [height]="800"
    [scaleChartWithContainerWidth]="{ width: true, height: false }"
  >
    <ng-container svg-elements>
      <svg:g vic-xy-background></svg:g>
      @if ((orientation$ | async) === 'horizontal') {
        <svg:g vic-x-quantitative-axis [config]="vm.xAxisConfig"></svg:g>
        <svg:g vic-y-ordinal-axis [config]="vm.yAxisConfig" side="left"></svg:g>
      } @else {
        <svg:g vic-x-ordinal-axis [config]="vm.xAxisConfig"></svg:g>
        <svg:g
          vic-y-quantitative-axis
          [config]="vm.yAxisConfig"
          side="left"
        ></svg:g>
      }
      <svg:g
        vic-data-marks-bars
        [config]="vm.dataConfig"
        [vicBarsHoverMoveActions]="hoverAndMoveActions"
        (vicBarsHoverMoveOutput)="updateTooltipForNewOutput($event)"
      >
        <vic-html-tooltip
          [config]="tooltipConfig$ | async"
          [template]="htmlTooltip"
        ></vic-html-tooltip>
      </svg:g>
    </ng-container>
  </vic-xy-chart>
</div>

<ng-template #loading>Loading...</ng-template>

<ng-template #htmlTooltip>
  <div
    [style.--color]="(tooltipData$ | async).color"
    class="bars-example-tooltip-container"
  >
    <p class="tooltip-label category"> {{ (tooltipData$ | async).ordinal }} </p>
    <div class="values-container">
      <p class="tooltip-label y">
        <span class="value-label">Value</span>
        {{ (tooltipData$ | async).quantitative }}
      </p>
    </div>
  </div>
</ng-template>
