@use 'functions' as *;
@use '../../../../../../app-dev-kit/src/styles' as hsi-adk;

.title {
  @include hsi-adk.title-large;
}

.documentation-text {
  max-width: 900px;
  padding-top: grid(4);
}

.text {
  padding-bottom: grid(4);
}
