@use 'vars' as *;
@use 'functions' as *;
@use 'colors';

.example-container.split {
  display: flex;
  max-width: var(--max-width, 1200px);

  .panel {
    border-radius: grid(3);
    border: 1px solid colors.$muted-primary-90;
    min-width: 100px;
  }

  .panel.example {
    width: calc(50% - 0.5rem);
    border-right: 1px solid colors.$muted-primary-90;
  }

  .panel.code {
    flex: 1;
    overflow-x: auto;
  }

  .panel.example .scroll-container {
    display: flex;
    padding: grid(6) grid(4);
    flex-direction: column;
    height: var(--height, --maxHeight, 100%);
  }

  .example-label {
    padding: grid(3) grid(4);
    font-weight: $font-weight-semibold;
    color: colors.$muted-primary-0;
    line-height: initial;
  }

  .resizer {
    display: flex;
    justify-content: center;
    width: grid(2);
    margin: 0 grid(1);
    border-radius: grid(2);
    cursor: ew-resize;

    &:hover {
      background: colors.$muted-primary-90;
    }
  }
}
