@use 'vars' as *;
@use 'functions' as *;
@use 'color';

.render-file-container.overview {
  max-width: $main-content-width;
  // h2,
  // h3 {
  //   font-weight: $font-weight-semibold;
  // }

  // > h3:first-of-type {
  //   font-style: italic;
  //   font-weight: $font-weight-regular;
  //   padding-bottom: grid(2);
  // }

  // > h2 {
  //   padding-top: grid(4);
  // }

  // > h3:not(:first-of-type) {
  //   padding: grid(2) 0;
  // }

  // p {
  //   padding-bottom: grid(2);
  // }

  // p code {
  //   background-color: color.$primary-7;
  //   padding: 2px;
  //   border-radius: grid(1);
  //   font-weight: $font-weight-semibold;
  // }

  // ol > li {
  //   padding-bottom: grid(2);
  // }
}
