<div class="grouped-bars-example" *ngIf="vm$ | async as vm; else loading">
  <vic-xy-chart [config]="vm.chartConfig">
    <ng-container svg-elements>
      <svg:g vic-xy-background></svg:g>
      <svg:g vic-x-ordinal-axis [config]="vm.xAxisConfig"></svg:g>
      <svg:g vic-y-quantitative-axis [config]="vm.yAxisConfig"></svg:g>
      <svg:g
        vic-primary-grouped-bars
        [config]="vm.dataConfig"
        vicGroupedBarsEvents
        [hoverMoveActions]="hoverMoveActions"
        (interactionOutput)="updateTooltipForNewOutput($event)"
      >
        <vic-html-tooltip
          [config]="tooltipConfig$ | async"
          [template]="htmlTooltip"
        ></vic-html-tooltip>
      </svg:g>
    </ng-container>
  </vic-xy-chart>
</div>

<ng-template #loading>Loading...</ng-template>
<ng-template #htmlTooltip>
  <div
    [style.--color]="(tooltipData$ | async).color"
    class="grouped-bars-example-tooltip-container"
  >
    <p class="tooltip-label category">
      {{ (tooltipData$ | async).values.category }}
    </p>
    <p class="tooltip-label x">
      {{ (tooltipData$ | async).values.ordinal }}
    </p>
    <div class="values-container">
      <p class="tooltip-label y">
        <span class="value-label">Value</span>
        {{ (tooltipData$ | async).values.quantitative }}
      </p>
    </div>
  </div>
</ng-template>
