@use 'vars' as *;
@use 'functions' as *;
@use 'index' as hsi-adk;
@use '../../styles/placeholders.scss' as *;

.grouped-bars-example-tooltip-container {
  @extend %vic-examples-tooltip-container-styles;
}
