@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

:host {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding-left: calc(#{var(--level)} * grid(2));
}

.link-container {
  display: flex;
  flex-direction: row;
  margin-top: grid(1);
  padding-right: grid(1);
  padding-left: grid(2);
  justify-content: space-between;
}

.link {
  display: inline-block;
  padding-bottom: grid(1);
  padding-top: grid(1);
  width: 100%;
}

.link:hover {
  cursor: pointer;
  color: color.$highlight-default;
  transition: all 200ms;
}

.nav-item {
  padding-right: grid(2);
}

.active-link {
  background-color: color.$primary-6;
}

.link-container:hover {
  cursor: pointer;
  background-color: color.$primary-7;
  transition: all 200ms;
  .arrow-down {
    border-top-color: black;
  }
  .arrow-up {
    border-bottom-color: black;
  }
}

.arrow {
  transition: all 150ms;
  color: color.$primary-2;
}

.arrow.open {
  transform: rotate(90deg);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid color.$primary-6;
  align-self: center;
  margin-top: -3px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid color.$primary-6;
  align-self: center;
  margin-top: -3px;
}
