@for (link of links; track $index) {
  @if (link.type === DirItem.File) {
    <a
      [routerLink]="addPartToBaseString(link.name)"
      routerLinkActive="active-link"
      class="link"
    >
      {{ link.name | undasherize | titlecase }}
    </a>
  } @else {
    <div class="link-container" (click)="toggleSelected(link.name)">
      <p class="nav-item">{{ link.name | undasherize | titlecase }}</p>
      <span
        class="material-symbols-outlined arrow"
        [class.open]="selected[link.name]"
      >
        chevron_right
      </span>
    </div>
    @if (selected[link.name]) {
      <app-navbar-folder
        class="folder-elements"
        [baseString]="addPartToBaseString(link.name)"
        [links]="link.contents"
        [level]="level + 1"
        [style.--level]="level + 1"
      ></app-navbar-folder>
    }
  }
}
