@use 'vars' as *;
@use 'functions' as *;
@use 'colors';
$icon-width: 0.9rem;
$icon-left-margin: 0.2rem;
$icon-right-margin: 0.4rem;

.header-cell-sort {
  display: flex;
  align-items: flex-end;
  &:hover {
    cursor: pointer;
  }
}

.material-symbols-outlined {
  display: flex;
  justify-content: center;
  width: $icon-width;
  height: 1.2rem;
  font-size: 1.25rem;
  margin-left: $icon-left-margin;
  margin-right: $icon-right-margin;
  opacity: 0.25;
  transition: all 150ms ease-in-out;

  &:hover {
    opacity: 0.75;
  }

  &.actively-sorted {
    opacity: 1;
  }
}

.desc {
  transform: rotate(180deg);
}

.left {
  text-align: left;
}

.right {
  text-align: right;

  .header-cell-sort {
    justify-content: flex-end;
  }

  &.sorted-cell {
    padding-right: $icon-left-margin + $icon-width + $icon-right-margin;
  }
}

.center {
  text-align: center;
}

.table-container {
  border-spacing: 0;

  td:last-child {
    &.left {
      padding-right: 0;
    }
  }

  th:last-child {
    &.left {
      padding-right: 0;
    }
  }

  th {
    vertical-align: bottom;
    &.sorted-header {
      padding-right: 0;
    }
  }
}
