@if (dataSource.columns$ | async; as columns) {
  <table cdk-table [dataSource]="dataSource" class="table-container">
    @for (column of columns; track column.id) {
      <ng-container [cdkColumnDef]="column.id">
        @if (column.sortable) {
          <th
            scope="col"
            cdk-header-cell
            *cdkHeaderCellDef="let element"
            (click)="dataSource.sort(column)"
          >
            <span
              [ngClass]="[
                'material-sort-icon',
                column.sortDirection,
                column.activelySorted ? 'actively-sorted' : '',
                'material-symbols-outlined',
              ]"
              [attr.aria-hidden]="true"
              >{{ sortIcon }}</span
            >
            {{ column.label }}</th
          >
        } @else {
          <th cdk-header-cell *cdkHeaderCellDef="let element">
            {{ column.label }}
          </th>
        }
        <td cdk-cell *cdkCellDef="let element">
          {{ column.getFormattedValue(element) }}
        </td>
      </ng-container>
    }
    <tr cdk-header-row *cdkHeaderRowDef="dataSource.columnIds$ | async"></tr>
    <tr
      cdk-row
      *cdkRowDef="let row; columns: dataSource.columnIds$ | async"
    ></tr>
  </table>
}
