@use 'functions' as *;

$icon-dimension: 16px;

.radio-input-container {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .radio-input:disabled + .radio-input-label {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .radio-input-label {
    cursor: pointer;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .icon {
    cursor: pointer;
    margin-right: grid(1);
    flex-shrink: 0;
  }
}
