<app-content-container class="dots-content-container">
  <ng-template let-section #escapedContent>
    @switch (section.content.trim()) {
      @case ('DotsExampleComponent') {
        <app-single-panel-example-display
          path="app/content/viz-components/dots-content/dots-example"
          class="example"
          label="dots example"
        >
          <app-dots-example></app-dots-example>
        </app-single-panel-example-display>
      }
    }
  </ng-template>
</app-content-container>
