@use 'functions' as *;

.bars-content-container {
  .main-content {
    display: flex;
    flex-direction: column;
  }

  .small-examples-container {
    display: flex;
    flex-wrap: wrap;
    gap: grid(20);
    align-items: flex-end;
    align-self: center;
    padding-bottom: grid(4);
  }

  .example-title.horizontal {
    transform: translateX(80px);
  }

  .example-title.vertical {
    transform: translateX(48px);
  }

  .example-title {
    font-size: 13px;
    padding-bottom: grid(1);
  }

  .vic-bars-label {
    font-size: 10px;
  }
}
