@use 'vars' as *;
@use 'functions' as *;
@use 'colors';

.example-container {
  ::-webkit-scrollbar {
    width: $vertical-scrollbar-thickness-thick;
  }

  a.panel {
    min-height: 140px;
    min-width: 140px;
  }

  .scroll-container {
    height: var(--height);
    max-height: var(--max-height);
    overflow-y: var(--overflow-y, auto);
  }

  .title-bar,
  .tab-list {
    padding: grid(2) 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top-left-radius: grid(1);
    border-top-right-radius: grid(1);
    background: colors.$muted-primary-98;
  }

  .tab-label-container:first-of-type {
    padding-left: grid(4);
  }

  .tab-label {
    padding: grid(2);
    margin-right: grid(3);
    border-radius: grid(1);
    color: colors.$primary-0;

    & > * {
      line-height: initial;
    }
  }

  .tab-label-container:not(.active):hover .tab-label {
    cursor: pointer;
    color: colors.$highlight-default;
    transition: all 200ms;
    background-color: colors.$primary-90;
  }

  .tab-label-container.active .tab-label {
    color: colors.$highlight-default;
    font-weight: $font-weight-semibold;
  }
}
