<app-example-display [folderName]="folderName">
  <span title>Geographies</span>
  <ng-container
    demo
    *ngIf="dataMarksConfig$ | async as dataMarksConfig; else loading"
  >
    <p class="effect-title">Select a year</p>
    <div class="toggle-container">
      <mat-button-toggle-group
        name="selectedYear"
        aria-label="Selected Year"
        [value]="selectedYear$ | async"
        (change)="onYearChange($event)"
      >
        <mat-button-toggle value="2020">2020</mat-button-toggle>
        <mat-button-toggle value="2010">2010</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <p class="data-binning-description"
      >Attribute Data Bin Type: <span class="value">Equal Values</span></p
    >
    <p class="fill-description"
      >Patterned states: population less than 1,000,000 (visual legend to be
      added)</p
    >
    <p class="fill-description"
      >Gray states: missing data; state is part of NoDataGeographies</p
    >
    <vic-map-chart
      class="chart-component"
      [margin]="margin"
      [height]="height"
      [width]="width"
    >
      <ng-container html-elements-after>
        <vic-map-legend
          class="legend-component"
          [width]="400"
          [height]="20"
          [outlineColor]="outlineColor"
        ></vic-map-legend>
      </ng-container>
      <svg:pattern
        svg-defs
        [id]="patternName"
        x="2"
        y="2"
        width="5"
        height="5"
        patternUnits="userSpaceOnUse"
      >
        <rect x="3" y="3" width="2" height="2" fill="#876fc1" />
      </svg:pattern>
      <svg:g
        vic-data-marks-geographies
        svg-elements
        [config]="dataMarksConfig"
        [vicGeographiesHoverEffects]="hoverEffects"
        (vicGeographiesHoverOutput)="updateTooltipForNewOutput($event, 'hover')"
        [vicGeographiesClickEffects]="clickEffects"
        [vicGeographiesClickRemoveEvent$]="removeTooltipEvent$"
        (vicGeographiesClickOutput)="updateTooltipForNewOutput($event, 'click')"
      >
        <vic-html-tooltip
          [config]="(tooltipConfig$ | async)"
          [template]="htmlTooltip"
          (backdropClick)="onBackdropClick()"
        ></vic-html-tooltip>
      </svg:g>
    </vic-map-chart>
  </ng-container>
  <ng-template #loading>Loading...</ng-template>
</app-example-display>

<ng-template #htmlTooltip>
  <div [style.--color]="(tooltipData$ | async).color" class="tooltip-container">
    <p class="tooltip-label geography">
      {{ (tooltipData$ | async).geography }}
    </p>
    <div class="values-container">
      <p class="tooltip-label x">
        <span class="value-label">Income</span>
        {{ (tooltipData$ | async).attributeValue }}
      </p>
    </div>
  </div>
</ng-template>
