<div class="example-container single" [style.--max-width]="maxWidth">
  <div [formGroup]="form" class="file-select-bar">
    @for (tab of tabList; track $index) {
    <app-radio-input
      class="tab"
      [value]="$index"
      [class.selected]="(selectedTabIndex$ | async) === $index"
      formControlName="selected"
      >{{tab.split('.').slice(-1)[0]}}</app-radio-input
    >
    }
  </div>
  <div class="main-display">
    <div class="scroll-container">
      @if ((tabContent$ | async) === null) {
      <ng-content></ng-content>
      } @else {
      <app-code-display [fileData]="tabContent$ | async"></app-code-display>
      }
    </div></div
  >
</div>
