@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.example-container.single {
  display: flex;
  flex-direction: column;
  border: 1px solid color.$primary-5;
  border-radius: grid(3);
  max-width: var(--max-width, 1200px);

  .file-select-bar {
    padding-top: grid(3);
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid color.$primary-5;
    border-top-left-radius: grid(3);
    border-top-right-radius: grid(3);
    background: color.$primary-8;
  }

  .file-select-bar > .selected {
    margin-bottom: -1px;
  }

  .tab:first-of-type .radio-input-container {
    padding-left: grid(4);
  }

  .radio-input-label {
    padding: grid(3) grid(4);
    border-top-left-radius: grid(2);
    border-top-right-radius: grid(2);
    color: color.$highlight-default;
  }

  .radio-input-label:not(.selected):hover {
    color: color.$highlight-default;
    transition: all 200ms;
    background-color: color.$primary-7;
  }

  .radio-input-label.selected {
    border: 1px solid color.$primary-6;
    border-bottom-color: white;
    color: color.$primary-1;
    font-weight: $font-weight-semibold;
    background-color: white;
  }

  .main-display {
    padding: grid(6) grid(4);

    .scroll-container {
      max-height: 600px;
      overflow-y: auto;
    }
  }
}
