<h2 class="main-title">Combobox UI Component</h2>
<app-split-panel-example-display
  height="600px"
  path="app/content/ui-components/combobox-content/simple-single-select-combobox-example"
  class="example"
  label="simple single select combobox example"
>
  <app-simple-single-select-combobox-example></app-simple-single-select-combobox-example>
</app-split-panel-example-display>
<app-split-panel-example-display
  height="600px"
  path="app/content/ui-components/combobox-content/simple-multi-select-combobox-example"
  class="example"
  label="simple multi select combobox example"
>
  <app-simple-multi-select-combobox-example></app-simple-multi-select-combobox-example>
</app-split-panel-example-display>
