<h2 class="main-title">Combobox UI Component</h2>
<app-split-panel-example-display
  height="600px"
  path="app/content/ui-components/combobox-content/simple-single-select-combobox-example"
  class="example"
  label="simple single select combobox example"
>
  <app-simple-single-select-combobox-example></app-simple-single-select-combobox-example>
</app-split-panel-example-display>
<app-split-panel-example-display
  height="600px"
  path="app/content/ui-components/combobox-content/display-single-selected-combobox-example"
  class="example"
  label="single select combobox example that displays selected"
>
  <app-display-single-selected-combobox-example></app-display-single-selected-combobox-example>
</app-split-panel-example-display>
<app-split-panel-example-display
  height="600px"
  path="app/content/ui-components/combobox-content/disabled-selections-single-combobox-example"
  class="example"
  label="single select combobox example with disabled selections"
>
  <app-disabled-selections-single-combobox-example></app-disabled-selections-single-combobox-example>
</app-split-panel-example-display>
<app-split-panel-example-display
  height="600px"
  path="app/content/ui-components/combobox-content/find-on-search-single-combobox-example"
  class="example"
  label="single select combobox example with search (DOESN'T WORK YET)"
>
  <app-find-on-search-single-combobox-example></app-find-on-search-single-combobox-example>
</app-split-panel-example-display>
<app-split-panel-example-display
  height="600px"
  path="app/content/ui-components/combobox-content/ng-form-single-select-combobox-example"
  class="example"
  label="ng form single select combobox example"
>
  <app-ng-form-single-select-combobox-example></app-ng-form-single-select-combobox-example>
</app-split-panel-example-display>
