<div class="title">CDA DD Map</div>
@if (data$ | async; as data) {
  <app-export-content [fileName]="'CDA DD Map'">
    @if (vm$ | async; as vm) {
      <vic-map-chart class="chart-component" [config]="vm.chartConfig">
        <ng-container html-elements-after>
          <p class="legend-title">
            Number of LTSS users per 100k Medi-Cal members
          </p>
          <vic-map-legend
            class="legend-component"
            [width]="legendWidth"
            [height]="legendHeight"
            [outlineColor]="colors.outline"
          ></vic-map-legend>
        </ng-container>
        <svg:g
          vic-primary-marks-geographies
          svg-elements
          [config]="vm.geographiesConfig"
        ></svg:g>
      </vic-map-chart>
    }
  </app-export-content>
}
