<app-content-container>
  <ng-template let-section #special>
    @switch (section.content.trim()) {
      @case ('StackedAreaExampleComponent') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/viz-components/stacked-area-content/stacked-area-example"
          class="example"
          label="stacked-area example"
        >
          <app-stacked-area-example></app-stacked-area-example>
        </app-single-panel-example-display>
      }
    }
  </ng-template>
</app-content-container>
