<app-content-container>
  <ng-template let-section #customAngular>
    @switch (section.content) {
      @case ('simple table') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/ui-components/table-content/tanstack-example"
          class="example"
          label="Tanstack table example"
        >
          <app-tanstack-example></app-tanstack-example>
        </app-single-panel-example-display>
      }
      @case ('deprecated simple table') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/ui-components/table-content/table-example"
          class="example"
          label="Deprectated table example"
        >
          <app-table-example></app-table-example>
        </app-single-panel-example-display>
      }
    }
  </ng-template>
</app-content-container>
