<app-content-container>
  <ng-template let-section #customAngular>
    @switch (section.content) {
      @case ('simple table') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/ui-components/table-content/table-example"
          class="example"
          label="table example"
        >
          <app-table-example></app-table-example>
        </app-single-panel-example-display>
      }
      @case ('custom sort icon table') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/ui-components/table-content/custom-sort-table-example"
          class="example"
          label="custom sort icon table example"
        >
          <app-custom-sort-table-example></app-custom-sort-table-example>
        </app-single-panel-example-display>
      }
    }
  </ng-template>
</app-content-container>
