@use 'vars' as *;
@use 'color';
@use 'colors';
@use 'placeholders' as *;
@use 'functions' as *;

.wrap {
  position: relative;
  height: 1200px;
}

.demo-app-documentation.local-styling {
  display: flex;
  flex-direction: column;
  width: $main-content-width;

  @extend %code-styles;

  .content {
    padding: 0;
  }

  a {
    color: color.$highlight-default;
  }

  pre.shiki {
    margin: 0;
    padding: grid(4);
    border: 1px solid colors.$muted-primary-90;
    border-radius: grid(2);
    margin-bottom: grid(8);
    white-space: pre-wrap;
    font-family: $mono-font;

    code {
      font-weight: $font-weight-medium;
    }
  }

  .modifier {
    padding: 0;
  }

  // code {
  //   font-family: $mono-font;
  //   color: color.$highlight-code;
  // }

  // code a {
  //   color: color.$highlight-code;
  //   font-weight: 480;
  // }

  // .code-toolbar {
  //   padding: grid(4) grid(1);
  //   background-color: #23241f;
  //   font-size: 14px;
  // }

  .content-data > ul > li.active {
    font-weight: $font-weight-semibold;
  }

  .tab-pane.active {
    > p.comment {
      margin: 0;
    }

    > p:not(.comment):not(:empty) {
      padding-bottom: 0.5rem;
    }

    > h3 {
      padding: 1rem 0 0.25rem 0;
    }

    section > h3 {
      padding-top: 1rem;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid color.$primary-0;
      font-weight: $font-weight-semibold;
      font-size: 18px;
    }

    section:first-of-type {
      padding-top: 0.75rem;
    }

    .table > tbody > tr > td {
      padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    }

    .table:not(.table-bordered) > tbody > tr:last-of-type > td {
      border-bottom: 1px solid #ddd;
    }

    .table-bordered > tbody > tr:first-of-type > td {
      font-weight: $font-weight-semibold;
      background: color.$primary-7;
    }

    .table-bordered .io-description {
      margin: 0;
      p:not(:last-of-type) {
        padding-bottom: 0.5rem;
      }
    }

    .table-bordered .io-description > p:first-of-type::before {
      content: 'Description';
      display: block;
      padding-bottom: 0.25rem;
      font-style: italic;
    }

    table.params {
      thead {
        background: color.$primary-7;
      }
      td {
        padding-top: 8px;
      }
    }

    .comment-inputs,
    .comment-example,
    .comment-import,
    .comment-slots {
      font-weight: $font-weight-semibold;
      padding-top: 0.5rem;
    }
  }

  .tab-pane.active > h3 {
    font-weight: $font-weight-semibold;
  }

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav > li {
    position: relative;
    display: block;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
  }
  .nav > li.disabled > a {
    color: #777777;
  }
  .nav > li.disabled > a:hover,
  .nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
  }
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #337ab7;
  }
  .nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  .nav > li > a > img {
    max-width: none;
  }
  .nav-tabs {
    border-bottom: 1px solid #ddd;
  }
  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }
  .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #ddd;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }
  .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
  }
  .nav-tabs.nav-justified > li {
    float: none;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
  }
  .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }
  @media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
      margin-bottom: 0;
    }
  }
  .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
  }
  @media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #fff;
    }
  }
}
