<div class="lines-example" *ngIf="vm$ | async as vm; else loading">
  <button class="download-button" (click)="downloadImage()"
    >download image as jpeg</button
  >
  <button class="download-button" (click)="saveCsv(vm.dataConfig.data)"
    >download as csv</button
  >
  <div #imageNode>
    <p class="effect-title">Select a tooltip display event</p>
    <mat-button-toggle-group
      name="tooltipEvent"
      [hideSingleSelectionIndicator]="true"
      aria-label="Tooltip Event"
      [value]="tooltipEvent$ | async"
      (change)="onEventToggleChange($event)"
    >
      <mat-button-toggle value="hover">On Hover</mat-button-toggle>
      <mat-button-toggle value="click">On Hover and Click</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="input-event-container">
      <p class="input-event-title">Lines Input Event example</p>
      <p class="input-event-instruction"
        >Hover any name to see chart interaction</p
      >
      <div class="line-labels-container">
        <p
          class="line-label"
          *ngFor="let label of vm.labels"
          [style.paddingLeft.px]="margin.left"
          (mouseenter)="highlightLine(label)"
          (mouseleave)="highlightLine(null)"
          >{{ label }}</p
        >
      </div>
    </div>
    <vic-xy-chart [config]="vm.chartConfig" #tooltipOrigin>
      <ng-container svg-elements>
        <svg:g vic-xy-background></svg:g>

        @if ((tooltipEvent$ | async) === 'hover') {
          <svg:g
            vic-primary-marks-lines
            [config]="vm.dataConfig"
            [vicLinesHoverMoveActions]="hoverActions"
            (vicLinesHoverMoveOutput)="
              updateTooltipForNewOutput($event, 'hover')
            "
            [vicLinesInputActions]="[highlightLineForLabelAction]"
            [vicLinesInputEvent$]="chartInputEvent$"
          >
            <vic-html-tooltip
              [config]="tooltipConfig$ | async"
              [template]="htmlTooltip"
            ></vic-html-tooltip>
          </svg:g>
        } @else {
          <svg:g
            vic-primary-marks-lines
            [config]="vm.dataConfig"
            [vicLinesHoverMoveActions]="hoverActions"
            (vicLinesHoverMoveOutput)="
              updateTooltipForNewOutput($event, 'hover')
            "
            [vicLinesChartClickActions]="clickActions"
            [vicLinesChartClickRemoveEvent$]="removeTooltipEvent$"
            (vicLinesChartClickOutput)="
              updateTooltipForNewOutput($event, 'click')
            "
            [vicLinesInputActions]="[highlightLineForLabelAction]"
            [vicLinesInputEvent$]="chartInputEvent$"
          >
            <vic-html-tooltip
              [config]="tooltipConfig$ | async"
              [template]="htmlTooltip"
              (backdropClick)="onBackdropClick()"
            ></vic-html-tooltip>
          </svg:g>
        }
        <svg:g vic-x-quantitative-axis [config]="vm.xAxisConfig"></svg:g>
        <svg:g vic-y-quantitative-axis [config]="vm.yAxisConfig"></svg:g>
      </ng-container>
    </vic-xy-chart>
  </div>
</div>
<ng-template #loading>Loading...</ng-template>

<ng-template #htmlTooltip>
  @if (tooltipData$ | async; as tooltipData) {
    <div class="lines-example-tooltip-container">
      <div class="tooltip-content" [style.--color]="tooltipData.color">
        <p class="tooltip-label category">
          {{ tooltipData.values.strokeColor }}
        </p>
        <div class="values-container">
          <p class="tooltip-label x">
            <span class="value-label">Date</span>
            {{ tooltipData.values.x }}
          </p>
          <p class="tooltip-label y">
            <span class="value-label">Value</span>
            {{ tooltipData.values.y }}
          </p>
        </div>
      </div>
      <svg
        width="100%"
        height="12"
        [style.--width]="'20px'"
        class="svg-triangle"
      >
        <g class="svg-g">
          <path class="triangle-path" d="M 0,0 10,12 20,0"></path>
        </g>
      </svg>
    </div>
  }
</ng-template>
