@use 'vars' as *;
@use 'functions' as *;
@use 'colors';
@use 'index' as hsi-adk;
@use '../../styles/placeholders.scss' as *;

.input-event-title {
  @include hsi-adk.label-large;
  padding-top: grid(2);
}

.input-event-instruction {
  @include hsi-adk.body-2xs;
  padding-bottom: grid(2);
}

.download-button {
  @include hsi-adk.body-2xs;
  display: flex;
  &:hover {
    font-weight: $font-weight-bold;
  }
}

.line-labels-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 800px; // match chart width
}

.line-label {
  cursor: pointer;
  @include hsi-adk.body-xs;

  &:hover {
    font-weight: $font-weight-bold;
  }
}

//Note: requires global styles for .vic-html-tooltip-overlay
.lines-example-tooltip-container {
  @extend %vc-examples-tooltip-container-styles;
}
