<div class="bars-example" *ngIf="vm$ | async as vm; else loading">
  <p class="ui-instructions">Select a bars direction</p>
  <mat-button-toggle-group
    class="direction-toggle-group"
    [hideSingleSelectionIndicator]="true"
    [value]="orientation$ | async"
    (change)="updateOrientation($event.value)"
    ><mat-button-toggle value="horizontal">Horizontal</mat-button-toggle
    ><mat-button-toggle value="vertical">Vertical</mat-button-toggle>
  </mat-button-toggle-group>
  <vic-xy-chart
    class="xy-chart"
    [margin]="margin"
    [height]="800"
    [scaleChartWithContainerWidth]="{ width: true, height: false }"
  >
    <ng-container svg-elements>
      <svg:g vic-xy-background></svg:g>
      @if ((orientation$ | async) === 'horizontal') {
        <svg:g vic-x-quantitative-axis [config]="vm.xAxisConfig" />
        <svg:g vic-y-ordinal-axis [config]="vm.yAxisConfig" />
      } @else {
        <svg:g vic-x-ordinal-axis [config]="vm.xAxisConfig" />
        <svg:g vic-y-quantitative-axis [config]="vm.yAxisConfig" />
      }
      <svg:g
        vic-primary-marks-bars
        [config]="vm.dataConfig"
        [vicBarsHoverMoveActions]="hoverAndMoveActions"
        (vicBarsHoverMoveOutput)="updateTooltipForNewOutput($event)"
      >
        <vic-html-tooltip
          [config]="tooltipConfig$ | async"
          [template]="htmlTooltip"
        ></vic-html-tooltip>
      </svg:g>
    </ng-container>
  </vic-xy-chart>
</div>

<ng-template #loading>Loading...</ng-template>

<ng-template #htmlTooltip>
  <div
    [style.--color]="(tooltipData$ | async).color"
    class="bars-example-tooltip-container"
  >
    <p class="tooltip-label category"> {{ (tooltipData$ | async).ordinal }} </p>
    <div class="values-container">
      <p class="tooltip-label y">
        <span class="value-label">Value</span>
        {{ (tooltipData$ | async).quantitative }}
      </p>
    </div>
  </div>
</ng-template>
