@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.bars-example {
  .ui-instructions {
    padding-bottom: grid(2);
  }

  .direction-toggle-group {
    margin-bottom: grid(4);
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .margin-change-button {
    display: block;
    margin-bottom: grid(4);
  }

  .xy-chart {
    display: block;
  }

  .vic-bar-label {
    font-size: 12px;
  }
}

.bars-example-tooltip-container {
  @extend %tooltip-container-styles;

  .tooltip-label {
    display: flex;
    flex-direction: column;
  }

  .tooltip-label:not(.category) {
    padding-top: grid(1);
  }

  .category {
    color: var(--color);
    font-weight: $font-weight-bold;
    line-height: 1.2;
    padding-bottom: grid(1);
  }

  .value-label {
    @extend %hsi-adk-type-overline-large;
  }
}
