@use 'vars' as *;
@use 'functions' as *;
@use 'index' as hsi-adk;
@use '../../styles/placeholders.scss' as *;

.bars-example {
  .ui-instructions {
    padding-bottom: grid(2);
  }

  .direction-toggle-group {
    margin-bottom: grid(4);
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .margin-change-button {
    display: block;
    margin-bottom: grid(4);
  }

  .xy-chart {
    display: block;
  }

  .vic-bar-label {
    font-size: 12px;
  }
}

.bars-example-tooltip-container {
  @extend %vc-examples-tooltip-container-styles;
}
