import { Component } from '@angular/core';
import { <%= classify(extend) %>Component } from '@web-ast/viz-components'

@Component({
  selector: 'app-<%= dasherize(name) %>',
  templateUrl: './<%= dasherize(name) %>.component.html',
  styleUrls: ['./<%= dasherize(name) %>.component.css']
})
export class <%= classify(name) %>Component extends <%= classify(extend) %>Component {

}