<app-component-demo>
  <span title>Bars</span>
  <!-- <ng-container demo *ngIf="vm$ | async as vm; else loading">
    <vzc-xy-chart [margin]="margin">
      <ng-container svg-elements>
        <svg:g vzc-xy-chart-background></svg:g>
        <svg:g
          vzc-x-quantitative-axis
          [config]="vm.xAxisConfig"
          side="top"
        ></svg:g>
        <svg:g vzc-y-ordinal-axis [config]="vm.yAxisConfig" side="left"></svg:g>
        <svg:g vzc-data-marks-bars [config]="vm.dataConfig"></svg:g>
      </ng-container>
    </vzc-xy-chart>
  </ng-container>
  <ng-template #loading>Loading...</ng-template> -->
  <app-component-documentation [documentation]="documentation">
  </app-component-documentation>
</app-component-demo>
