<div class="single-select-combobox-example ng-form-example">
  <p class="combobox-value"
    >Combobox selection (id value): {{ control.value }}</p
  >
  <hsi-ui-combobox class="pixar-movies-dropdown">
    <hsi-ui-combobox-label>
      <span>Pixar Movies Combobox</span>
    </hsi-ui-combobox-label>
    <hsi-ui-textbox [dynamicLabel]="false">
      <p boxLabel>This combobox stores your favorite Pixar movie!</p>
      <span class="material-symbols-outlined expand-more" boxIcon>
        expand_more
      </span>
    </hsi-ui-textbox>
    <hsi-ui-listbox [formControl]="control">
      <hsi-ui-listbox-label>
        <span>Select your favorite Pixar movie</span>
      </hsi-ui-listbox-label>
      @for (option of options; track $index) {
        <hsi-ui-listbox-option [value]="option.id">{{
          option.displayName
        }}</hsi-ui-listbox-option>
      }
    </hsi-ui-listbox>
  </hsi-ui-combobox>
</div>
