@use 'sass:map';

$primary-0: var(--hsi-adk-color-primary-0);
$primary-5: var(--hsi-adk-color-primary-5);
$primary-10: var(--hsi-adk-color-primary-10);
$primary-15: var(--hsi-adk-color-primary-15);
$primary-20: var(--hsi-adk-color-primary-20);
$primary-25: var(--hsi-adk-color-primary-25);
$primary-30: var(--hsi-adk-color-primary-30);
$primary-35: var(--hsi-adk-color-primary-35);
$primary-40: var(--hsi-adk-color-primary-40);
$primary-50: var(--hsi-adk-color-primary-50);
$primary-60: var(--hsi-adk-color-primary-60);
$primary-70: var(--hsi-adk-color-primary-70);
$primary-80: var(--hsi-adk-color-primary-80);
$primary-90: var(--hsi-adk-color-primary-90);
$primary-95: var(--hsi-adk-color-primary-95);
$primary-98: var(--hsi-adk-color-primary-98);
$primary-99: var(--hsi-adk-color-primary-99);
$primary-100: var(--hsi-adk-color-primary-100);

$muted-primary-0: var(--hsi-adk-color-muted-primary-0);
$muted-primary-5: var(--hsi-adk-color-muted-primary-5);
$muted-primary-10: var(--hsi-adk-color-muted-primary-10);
$muted-primary-15: var(--hsi-adk-color-muted-primary-15);
$muted-primary-20: var(--hsi-adk-color-muted-primary-20);
$muted-primary-25: var(--hsi-adk-color-muted-primary-25);
$muted-primary-30: var(--hsi-adk-color-muted-primary-30);
$muted-primary-35: var(--hsi-adk-color-muted-primary-35);
$muted-primary-40: var(--hsi-adk-color-muted-primary-40);
$muted-primary-50: var(--hsi-adk-color-muted-primary-50);
$muted-primary-60: var(--hsi-adk-color-muted-primary-60);
$muted-primary-70: var(--hsi-adk-color-muted-primary-70);
$muted-primary-80: var(--hsi-adk-color-muted-primary-80);
$muted-primary-90: var(--hsi-adk-color-muted-primary-90);
$muted-primary-95: var(--hsi-adk-color-muted-primary-95);
$muted-primary-98: var(--hsi-adk-color-muted-primary-98);
$muted-primary-99: var(--hsi-adk-color-muted-primary-99);
$muted-primary-100: var(--hsi-adk-color-muted-primary-100);

$active: $primary-40;
$active-background: $muted-primary-95;
