@use 'vars' as *;
@use 'functions' as *;
@use 'color';
@forward '../../../app-dev-kit/src/lib/styles/placeholders';

/*------ HIDDEN ELEMENTS -----*/
%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%focus-ring-style {
  outline: $focus-ring-style;
  outline-offset: 1px;
}

%hidden-input-element {
  @extend %visually-hidden;

  &.focus-visible + label {
    @extend %focus-ring-style;
  }
}

// Common Example Styles
%tooltip-container-styles {
  background: rgba(white, 0.9);
  padding: grid(2);
  border: 1px solid color.$primary-6;
  width: 100%;
}

%markdown-styles {
  code {
    font-family: $mono-font;
  }

  code:not(.language-html):not(.language-ts) {
    color: color.$highlight-code;
    background-color: color.$primary-7;
    padding: grid(0.75) grid(1.25);
    white-space: normal;
    border-radius: grid(1);
    line-height: 1.5;
    font-weight: 500;
  }

  h1 {
    @extend %hsi-adk-type-h1;
  }

  h2 {
    @extend %hsi-adk-type-h4;

    &:not(:first-child) {
      padding-top: grid(8);
    }
  }

  h3 {
    @extend %hsi-adk-type-h5;
    padding-top: grid(4);
    padding-bottom: grid(2);
  }

  h2 + h3 {
    padding-top: grid(2);
  }

  h4 {
    @extend %hsi-adk-type-h6;
    font-size: 18px;
    padding-top: grid(2);
    padding-bottom: grid(1);
  }

  pre {
    margin: grid(1) 0;
  }

  p {
    line-height: 1.6;
    padding-bottom: grid(2);
  }

  h2 + p {
    padding-top: grid(2);
  }

  ul {
    margin: 0;
    padding-bottom: grid(2);
  }
}

%code-styles {
  pre {
    margin: grid(1) 0;
  }

  code {
    font-family: $mono-font;
  }

  code:not(.shiki) {
    color: color.$highlight-code;
    background-color: color.$primary-7;
    padding: grid(0.75) grid(1.25);
    white-space: normal;
    border-radius: grid(1);
    line-height: 1.5;
    font-weight: 500;
  }
}
