@use 'vars' as *;
@use 'functions' as *;
@use 'color';
@use '../../../app-dev-kit/src/lib/styles' as hsi-adk;

// /* ------- TYPOGRAPHY ------- */
%typography-h1 {
  font-family: $font-sans;
  font-size: 96px;
  font-weight: $font-weight-light;
  letter-spacing: -1.5px;
}

%typography-h2 {
  font-family: $font-sans;
  font-size: 60px;
  font-weight: $font-weight-light;
  letter-spacing: -0.5px;
}

%typography-h3 {
  font-family: $font-sans;
  font-size: 48px;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
}

%typography-h4 {
  font-family: $font-sans;
  font-size: 34px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.25px;
}

%typography-h5 {
  font-family: $font-sans;
  font-size: 24px;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
}

%typography-h6 {
  font-family: $font-sans;
  font-size: 20px;
  font-weight: $font-weight-medium;
  letter-spacing: 0.15px;
}

%typography-subtitle-1 {
  font-family: $font-sans;
  font-size: 16px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.15px;
}

%typography-subtitle-2 {
  font-family: $font-sans;
  font-size: 14px;
  font-weight: $font-weight-medium;
  letter-spacing: 0.1px;
}

%typography-body-1 {
  font-family: $font-sans;
  font-size: 16px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.5px;
}

%typography-body-2 {
  font-family: $font-sans;
  font-size: 14px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.25px;
}

%typography-button {
  font-family: $font-sans;
  font-size: 14px;
  font-weight: $font-weight-medium;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

%typography-caption {
  font-family: $font-sans;
  font-size: 12px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.4px;
}

%typography-overline {
  font-family: $font-sans;
  font-size: 10px;
  font-weight: $font-weight-regular;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

%typography-overline-large {
  font-family: $font-sans;
  font-size: 11px;
  font-weight: $font-weight-medium;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/*------ HIDDEN ELEMENTS -----*/
%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%focus-ring-style {
  outline: $focus-ring-style;
  outline-offset: 1px;
}

%hidden-input-element {
  @extend %visually-hidden;

  &.focus-visible + label {
    @extend %focus-ring-style;
  }
}

// Common Example Styles
%tooltip-container-styles {
  background: rgba(white, 0.9);
  padding: grid(2);
  border: 1px solid color.$primary-6;
  width: 100%;
}

%markdown-styles {
  code {
    font-family: $font-mono;
  }

  code:not(.language-html):not(.language-ts) {
    color: color.$highlight-code;
    background-color: color.$primary-7;
    padding: grid(0.75) grid(1.25);
    white-space: normal;
    border-radius: grid(1);
    line-height: 1.5;
    font-weight: 500;
  }

  h1 {
    @include hsi-adk.headline-medium;
  }

  h2 {
    @include hsi-adk.title-large;

    &:not(:first-child) {
      padding-top: grid(8);
    }
  }

  h3 {
    @include hsi-adk.title-medium;
    padding-top: grid(4);
    padding-bottom: grid(2);
  }

  h2 + h3 {
    padding-top: grid(2);
  }

  h4 {
    @include hsi-adk.title-small;
    font-size: 18px;
    padding-top: grid(2);
    padding-bottom: grid(1);
  }

  pre {
    margin: grid(1) 0;
  }

  p {
    line-height: 1.6;
    padding-bottom: grid(2);
  }

  h2 + p {
    padding-top: grid(2);
  }

  ul {
    margin: 0;
    padding-bottom: grid(2);
  }
}
