@use 'sass:color';
@import 'vars', 'functions';

/* ------- TYPOGRAPHY ------- */
%typography-headline-1 {
  font-family: $sans-font;
  font-size: 96px;
  font-weight: $font-weight-light;
  letter-spacing: -1.5px;
}

%typography-headline-2 {
  font-family: $sans-font;
  font-size: 60px;
  font-weight: $font-weight-light;
  letter-spacing: -0.5px;
}

%typography-headline-3 {
  font-family: $sans-font;
  font-size: 48px;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
}

%typography-headline-4 {
  font-family: $sans-font;
  font-size: 34px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.25px;
}

%typography-headline-5 {
  font-family: $sans-font;
  font-size: 24px;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
}

%typography-headline-6 {
  font-family: $sans-font;
  font-size: 20px;
  font-weight: $font-weight-medium;
  letter-spacing: 0.15px;
}

%typography-subtitle-1 {
  font-family: $sans-font;
  font-size: 16px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.15px;
}

%typography-subtitle-2 {
  font-family: $sans-font;
  font-size: 14px;
  font-weight: $font-weight-medium;
  letter-spacing: 0.1px;
}

%typography-body-1 {
  font-family: $sans-font;
  font-size: 16px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.5px;
}

%typography-body-2 {
  font-family: $sans-font;
  font-size: 14px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.25px;
}

%typography-button {
  font-family: $sans-font;
  font-size: 14px;
  font-weight: $font-weight-medium;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

%typography-caption {
  font-family: $sans-font;
  font-size: 12px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.4px;
}

%typography-overline {
  font-family: $sans-font;
  font-size: 10px;
  font-weight: $font-weight-regular;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

%typography-overline-large {
  font-family: $sans-font;
  font-size: 11px;
  font-weight: $font-weight-medium;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}


/*------ HIDDEN ELEMENTS -----*/
%visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%focus-ring-style {
  outline: $focus-ring-style;
  outline-offset: 1px;
}

%hidden-input-element {
  @extend %visuallyhidden;

  &.focus-visible + label {
    @extend %focus-ring-style;
  }
}