@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';
@use '../../../app-dev-kit/src/lib/styles' as hsi-adk;
@import 'prismjs/plugins/toolbar/prism-toolbar.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/themes/prism-okaidia';

@include hsi-adk.reset();

html {
  @include hsi-adk.create-theme();
  --hsi-adk-font-sans: #{$font-sans};
  --hsi-adk-font-serif: #{$font-serif};
  --hsi-adk-font-mono: #{$font-mono};

  --hsi-adk-color-muted-primary-0: #000000;
  --hsi-adk-color-muted-primary-5: #141821;
  --hsi-adk-color-muted-primary-10: #20283c;
  --hsi-adk-color-muted-primary-15: #2b3246;
  --hsi-adk-color-muted-primary-20: #353c4f;
  --hsi-adk-color-muted-primary-25: #404759;
  --hsi-adk-color-muted-primary-30: #4c5263;
  --hsi-adk-color-muted-primary-35: #575d6e;
  --hsi-adk-color-muted-primary-40: #636878;
  --hsi-adk-color-muted-primary-50: #7b7f8e;
  --hsi-adk-color-muted-primary-60: #9397a4;
  --hsi-adk-color-muted-primary-70: #adb0ba;
  --hsi-adk-color-muted-primary-80: #c7cad1;
  --hsi-adk-color-muted-primary-90: #e1e4e9;
  --hsi-adk-color-muted-primary-95: #eff1f5;
  --hsi-adk-color-muted-primary-98: #f9f9fb;
  --hsi-adk-color-muted-primary-99: #fcfcfd;
  --hsi-adk-color-muted-primary-100: #ffffff;
}

.vic-html-tooltip-overlay {
  display: flex;
  flex-direction: column;
}

.vic-html-tooltip-overlay.events-disabled {
  pointer-events: none;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

// ------- Custom scrollbar -------
::-webkit-scrollbar {
  width: $vertical-scrollbar-thickness-thin;
  height: $horizontal-scrollbar-thickness;
  border-radius: 50%;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: color.$primary-6;
  border-radius: grid(2);
}
