@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';
@use '../../../app-dev-kit/src/lib/styles/' as hsi-adk;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@include hsi-adk.reset($sans-font, color.$primary-text);

html {
  @include hsi-adk.core();
  --hsi-adk-font-sans: #{$sans-font};
  --hsi-adk-font-serif: #{$serif-font};
  --hsi-adk-font-mono: #{$mono-font};
}

.vic-html-tooltip-overlay {
  display: flex;
  flex-direction: column;
}

.vic-html-tooltip-overlay.events-disabled {
  pointer-events: none;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
