<p>my-chart works!</p>
<app-export-content>
  <vic-xy-chart
    [margin]="{ top: 30, right: 0, bottom: 36, left: 200 }"
    [height]="chartHeight"
    [width]="600"
    [scaleChartWithContainerWidth]="{ width: false, height: false }"
  >
    <ng-container svg-elements>
      <!-- <svg:g vic-xy-background></svg:g>
        <svg:g vic-x-quantitative-axis [config]="xAxisConfig"></svg:g> -->
      <svg:g vic-y-ordinal-axis [config]="yAxisConfig"></svg:g>
      <svg:g vic-primary-marks-bars [config]="sortedDataConfig"></svg:g>
    </ng-container>
  </vic-xy-chart>
  <div>{{ data$ | async | json }}</div>
</app-export-content>
