<div class="single-select-combobox-example disabled-example">
  <p class="combobox-value"
    >Combobox selection (id value): {{ selected$ | async }}</p
  >
  <hsi-ui-combobox class="pixar-movies-dropdown">
    <hsi-ui-combobox-label>
      <span>Select your favorite Pixar movie!</span>
    </hsi-ui-combobox-label>
    <hsi-ui-textbox>
      <p boxLabel>Select a movie</p>
      <span class="material-symbols-outlined expand-more" boxIcon>
        expand_more
      </span>
    </hsi-ui-textbox>
    <hsi-ui-listbox (valueChanges)="onSelection($event)">
      @for (option of options; track $index; let even = $even) {
        <hsi-ui-listbox-option [value]="option.id" [disabled]="even">{{
          option.displayName
        }}</hsi-ui-listbox-option>
      }
    </hsi-ui-listbox>
  </hsi-ui-combobox>
</div>
