@import '../ca-access.scss';

@mixin percentile {
  fill: $lightblue;
  stroke: $darkBlue;
}

.vic-bars-g {
  rect {
    @include percentile;
  }
}

.percentile {
  rect {
    @include percentile;
  }

  text {
    alignment-baseline: middle;
  }
}
