@use '../ca-access.scss';
@use '../color.scss';

@mixin percentile {
  fill: color.$lightblue;
  stroke: color.$darkBlue;
}

.vic-stacked-bars-bar {
  @include percentile;
}

.percentile {
  rect {
    @include percentile;
  }

  text {
    alignment-baseline: middle;
  }
}
