<app-content-container class="axes-content-container">
  <ng-template let-section #customAngular>
    @switch (section.content) {
      @case ('small axis examples') {
        <div class="small-examples-container axes">
          <div class="example quant-quant">
            <app-dots-scatterplot-example
              [xAxisConfig]="defaultAxes.x"
              [yAxisConfig]="defaultAxes.y"
            ></app-dots-scatterplot-example>
          </div>
          <div class="example ord-quant">
            <app-bars-simple-states-example></app-bars-simple-states-example>
          </div>
        </div>
      }
      @case ('small axis labels examples') {
        <div class="small-examples-container labels">
          <div class="example">
            <p class="chart-title default">With default label positions</p>
            <app-dots-scatterplot-example
              [xAxisConfig]="defaultAxes.x"
              [yAxisConfig]="defaultAxes.y"
            ></app-dots-scatterplot-example>
          </div>
          <div class="example">
            <p class="chart-title default"
              >With custom positioned and wrapped labels</p
            >
            <app-dots-scatterplot-example
              [xAxisConfig]="customLabelAxes.x"
              [yAxisConfig]="customLabelAxes.y"
            ></app-dots-scatterplot-example>
          </div>
        </div>
      }
      @case ('small axis grid examples') {
        <div class="small-examples-container grid">
          <div class="example">
            <p class="chart-title default">With default grid configuration</p>
            <app-dots-scatterplot-example
              [xAxisConfig]="defaultGridAxes.x"
              [yAxisConfig]="defaultGridAxes.y"
            ></app-dots-scatterplot-example>
          </div>
          <div class="example">
            <p class="chart-title default">With custom grid configuration</p>
            <app-dots-scatterplot-example
              [xAxisConfig]="customGridAxes.x"
              [yAxisConfig]="customGridAxes.y"
            ></app-dots-scatterplot-example>
          </div>
        </div>
      }
      @case ('small axis baseline examples') {
        <div class="small-examples-container baseline">
          <div class="example">
            <p class="chart-title default">With default baselines</p>
            <app-bars-simple-states-example></app-bars-simple-states-example>
          </div>
          <div class="example">
            <p class="chart-title default"
              >With a default zero baseline when there are positive and negative
              values</p
            >
            <app-bars-simple-states-example
              [usePosNegData]="true"
            ></app-bars-simple-states-example>
          </div>
        </div>
      }
      @case ('small axis tick wrap examples') {
        <div class="small-examples-container tick-wrap">
          <div class="example horizontal">
            <p class="chart-title default">Wrapped Y axis labels (120px)</p>
            <app-bars-simple-states-example
              [useLongLabelsAndWrap]="true"
              [height]="200"
              [orientation]="'horizontal'"
            ></app-bars-simple-states-example>
          </div>
          <div class="example vertical">
            <p class="chart-title default">Wrapped X axis labels (100px)</p>
            <app-bars-simple-states-example
              [useLongLabelsAndWrap]="true"
              [height]="200"
              [width]="800"
              [margin]="{
                top: 0,
                right: 0,
                bottom: 24,
                left: 48,
              }"
              [orientation]="'vertical'"
            ></app-bars-simple-states-example>
          </div>
        </div>
      }
    }
  </ng-template>
</app-content-container>
