@use 'index' as hsi-adk;
@use 'functions' as *;
@use 'vars' as *;
@use 'colors';

%vic-examples-base-tooltip-container-styles {
  $outline-color: colors.$muted-primary-80;

  .tooltip-content {
    background: rgba(white, 0.9);
    padding: grid(2);
    border: 1px solid $outline-color;
    width: 100%;
  }

  .tooltip-label {
    display: flex;
    flex-direction: column;
  }

  .value-label {
    @include hsi-adk.label-2xs-caps;
  }

  .svg-triangle {
    $x-offset: calc(50% - (var(--width) / 2));
    display: block;
    transform: translate(#{$x-offset}, -2px);

    .triangle-path {
      stroke: $outline-color;
      fill: white;
      fill-opacity: 0.9;
    }
  }
}

%vic-examples-tooltip-container-styles {
  @extend %vic-examples-base-tooltip-container-styles;

  .tooltip-label:not(.category) {
    padding-top: grid(1);
  }

  .category {
    color: var(--color);
    font-weight: $font-weight-bold;
    line-height: 1.2;
    padding-bottom: grid(1);
  }
}

%vic-examples-multiples-tooltip-container-styles {
  @extend %vic-examples-base-tooltip-container-styles;

  .tooltip-label:not(.multiple):not(.category) {
    padding-top: grid(1);
  }

  .multiple {
    color: var(--color);
    font-weight: $font-weight-bold;
    line-height: 1.2;
    padding-bottom: grid(1);
  }
}
