@use '../../ca-access-interim/csa/csa.component.scss';

.image {
  padding: 60px 240px 30px 60px !important;
}

.vic-axis-y-ordinal text {
  transform: translateX(0);
}

.average-header {
  line {
    stroke: black;
  }
}

.average-header-label,
.percentile-label {
  alignment-baseline: middle;
}

.average {
  fill: white;
}

circle {
  stroke-opacity: 1;
}
