@import 'vars', 'placeholders';

:host {
  width: 250px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: $grid-2 $grid-4;
  font-size: 16px;
  z-index: 3;
  position: sticky;
  top: 0px;
  border-right: 1px solid $color-primary-7;
}

.link-container {
  padding-left: $grid-2;
}

.nested-link-container {
  margin-left: $grid-4;
  padding-left: $grid-2;
}

.active-link {
  background-color: $color-primary-6;
}

.link-container:hover {
  color: $color-highlight;
  transition: all 200ms;
}

h2 {
  margin-top: $grid-3;
  margin-bottom: $grid-1;
  font-weight: $font-weight-medium;
  font-size: 17px;
}

h3 {
  margin-top: $grid-1;
  margin-bottom: $grid-1;
  font-weight: $font-weight-medium;
  font-size: 14px;
}