@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.nav-container {
  display: flex;
  flex-direction: column;
  padding: grid(4) grid(2) grid(2) grid(4);
}

.section-label {
  margin-top: grid(3);
  margin-bottom: grid(1);
  font-weight: $font-weight-medium;
  font-size: 17px;
  text-transform: uppercase;
}

.section-label.documentation {
  cursor: pointer;
}

.nav-item {
  padding-right: grid(2);
  padding-top: grid(1);
  padding-bottom: grid(1);
  margin: 1px 0;
  line-height: 1.2;
}

.nav-item:hover {
  cursor: pointer;
  background-color: color.$primary-7;
  transition: all 200ms;
}

.nav-item.active {
  color: color.$highlight-default;
  background-color: color.$primary-7;
}

.close-button {
  cursor: pointer;
}
