<header class="nav-container">
  <a
    class="link-container"
    routerLink="/overview"
    routerLinkActive="active-link"
  >
    <p>Overview</p>
  </a>
  <h2>EXAMPLES</h2>
  <a
    class="link-container"
    routerLink="/examples/bars"
    routerLinkActive="active-link"
  >
    <p>Bars</p>
  </a>
  <a
    class="link-container"
    routerLink="/examples/stacked-area"
    routerLinkActive="active-link"
  >
    <p>Stacked Area</p>
  </a>
  <a
    class="link-container"
    routerLink="/examples/lines"
    routerLinkActive="active-link"
  >
    <p>Lines</p>
  </a>
  <a
    class="link-container"
    routerLink="/examples/geographies"
    routerLinkActive="active-link"
  >
    <p>Geographies</p>
  </a>
  <h2>DOCUMENTATION</h2>
  <ng-container *ngFor="let category of navbarConfig$ | async">
    <h3>{{category.name | undasherize | uppercase}}</h3>
    <ng-container *ngFor="let file of category.files">
      <a
        class="link-container"
        [routerLink]="'/documentation/' + category.name + '/' + file"
        routerLinkActive="active-link"
      >
        <p>{{file | undasherize | titlecase}}</p>
      </a>
    </ng-container>
  </ng-container>
</header>
