@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.nav-container {
  display: flex;
  flex-direction: column;
  padding: grid(4) grid(2) grid(2) grid(4);
}

.link-container:not(:first-child) {
  padding-left: grid(2);
}

.nav-item {
  padding-right: grid(2);
}

.nested-link-container {
  margin-left: grid(4);
  padding-left: grid(2);
}

.active-link {
  background-color: color.$primary-7;
}

.link-container:hover {
  color: color.$highlight-default;
  transition: all 200ms;
}

h2 {
  margin-top: grid(3);
  margin-bottom: grid(1);
  font-weight: $font-weight-medium;
  font-size: 17px;
}

h3 {
  margin-top: grid(1);
  margin-bottom: grid(1);
  font-weight: $font-weight-medium;
  font-size: 14px;
}
