@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';
@use '../../../../app-dev-kit/src/lib/styles' as hsi-adk;

$active-background-color: colors.$muted-primary-95;
$dividing-line-color: colors.$muted-primary-90;

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: grid(3) grid(2) grid(2) grid(4);
  height: 100%;
  overflow-y: auto;

  .application-title {
    @include hsi-adk.title-small;
    padding-bottom: grid(2);
    border-bottom: 1px solid $dividing-line-color;
    white-space: nowrap;
  }

  .top-border {
    border-top: 1px solid colors.$muted-primary-90;
    margin-top: grid(4);
    padding-top: grid(3);
  }

  .item {
    display: block;
    padding-right: grid(2);
    padding-top: grid(1);
    padding-bottom: grid(1);
    margin: grid(2) 0;
    line-height: 1.2;
    font-size: 18px;
  }

  .item:hover {
    cursor: pointer;
    background-color: $active-background-color;
    transition: all 200ms;
  }

  .item.active {
    background-color: $active-background-color;
    color: colors.$highlight-default;
  }

  .docs-directory {
    display: block;
    border-top: 1px solid $dividing-line-color;
    margin-bottom: grid(2);
    padding-top: grid(2);
  }
}
