@use 'sass:color';
@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: grid(3);
  height: 300px;
  border: 2px solid color.$primary-6;
  overflow: hidden;
  transition: all 200ms;

  &:hover {
    border: 2px solid color.$highlight-light;

    .card-title {
      background: color.$primary-8;
    }
  }
}

.card-image {
  flex-basis: 80%;
  width: 100%;
  background: color.$highlight-light;
}

.card-title {
  @extend %typography-headline-5;
  width: 100%;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
