@use 'vars' as *;
@use 'color';
@use 'functions' as *;

.wrap {
  position: relative;
  height: 1200px;
}

.demo-app-documentation.local-styling {
  max-width: $main-content-width;

  .content.component {
    padding: 0;
  }

  a {
    color: color.$highlight-default;
  }

  code {
    font-family: $code-font;
    color: color.$highlight-code;
  }

  code a {
    color: color.$highlight-code;
    font-weight: 480;
  }

  .code-toolbar {
    padding: grid(4) grid(1);
    background-color: #23241f;
    font-size: 14px;
  }

  .content-data > ul > li.active {
    font-weight: $font-weight-semibold;
  }

  .tab-pane.active {
    > p.comment {
      margin: 0;
    }

    > p:not(.comment):not(:empty) {
      padding-bottom: 0.5rem;
    }

    > h3 {
      padding: 1rem 0 0.25rem 0;
    }

    section > h3 {
      padding-top: 1rem;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid color.$primary-0;
      font-weight: $font-weight-semibold;
      font-size: 18px;
    }

    section:first-of-type {
      padding-top: 0.75rem;
    }

    .table > tbody > tr > td {
      padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    }

    .table:not(.table-bordered) > tbody > tr:last-of-type > td {
      border-bottom: 1px solid #ddd;
    }

    .table-bordered > tbody > tr:first-of-type > td {
      font-weight: $font-weight-semibold;
      background: color.$primary-7;
    }

    .table-bordered .io-description {
      margin: 0;
      p:not(:last-of-type) {
        padding-bottom: 0.5rem;
      }
    }

    .table-bordered .io-description > p:first-of-type::before {
      content: 'Description';
      display: block;
      padding-bottom: 0.25rem;
      font-style: italic;
    }

    table.params {
      thead {
        background: color.$primary-7;
      }
      td {
        padding-top: 8px;
      }
    }

    .comment-inputs,
    .comment-example,
    .comment-import,
    .comment-slots {
      font-weight: $font-weight-semibold;
      padding-top: 0.5rem;
    }
  }

  .tab-pane.active > h3 {
    font-weight: $font-weight-semibold;
  }
}
