<div class="single-select-combobox-example editable-textbox-example">
  <p class="combobox-value"
    >Combobox selections (id values): {{ selected$ | async }}</p
  >
  <hsi-ui-combobox class="office-locations-dropdown">
    <hsi-ui-combobox-label>
      <span>Pixar Movies Combobox</span>
    </hsi-ui-combobox-label>
    <hsi-ui-editable-textbox
      placeholder="Search for an office"
      autoSelectTrigger="character"
      [autoSelect]="true"
      (textboxValue)="onTyping($event)"
    >
    </hsi-ui-editable-textbox>
    <hsi-ui-listbox
      [isMultiSelect]="false"
      (valueChanges)="onSelection($event)"
    >
      <hsi-ui-listbox-label>
        <span>Select your favorite Pixar movie</span>
      </hsi-ui-listbox-label>
      @for (option of options$ | async; track $index) {
        <hsi-ui-listbox-option
          [selected]="(selected$ | async).includes(option.id)"
          [value]="option.id"
          >{{ option.displayName }}</hsi-ui-listbox-option
        >
      }
    </hsi-ui-listbox>
  </hsi-ui-combobox>
</div>
