@use 'functions' as *;
@use 'colors';

.documentation-container {
  margin: 0 auto;
  max-width: 1200px;

  .injected-html {
    max-width: 900px;

    h3:first-child {
      margin: grid(4) 0 grid(8) 0;
      width: 100%;
      border-bottom: 1px solid colors.$primary-400;
    }

    h4 {
      margin-bottom: grid(6);
    }

    p {
      margin-bottom: grid(6);
      line-height: 1.8;
    }
  }
}
