@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';

$dividing-line-color: colors.$muted-primary-90;

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: grid(2);
  height: 100%;
  overflow-y: auto;

  .application-title {
    @extend %hsi-adk-type-overline-large;
    font-size: 14px;
    padding: 0 grid(2) grid(2) grid(2);
    border-bottom: 1px solid $dividing-line-color;
  }

  .item {
    display: block;
    padding-right: grid(2);
    padding: grid(1) grid(2);
    margin: grid(3) 0;
    line-height: 1.5;
  }

  .item:hover {
    cursor: pointer;
    background-color: colors.$active-background;
    transition: all 200ms;
  }

  .item.active {
    background-color: colors.$active-background;
    color: colors.$active;
  }

  .docs-directory {
    display: block;
    border-top: 1px solid $dividing-line-color;
    margin-bottom: grid(2);
    padding-top: grid(2);
  }
}
