@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: grid(4) grid(2) grid(2) grid(4);
}

.item {
  display: block;
  padding-right: grid(2);
  padding-top: grid(1);
  padding-bottom: grid(1);
  margin: 1px 0;
  line-height: 1.5;
  @extend %typography-body-1;
  font-size: 18px;
}

.item:hover {
  cursor: pointer;
  background-color: color.$primary-7;
  transition: all 200ms;
}

.item.active {
  color: color.$highlight-default;
  background-color: color.$primary-7;
}
