<div class="energy-intensity-bar-container">
  <div class="chart-container">
    <vic-xy-chart
      class="sorted-chart"
      [margin]="{ top: 30, right: 0, bottom: 36, left: 200 }"
      [height]="chartHeight"
      [width]="600"
      [scaleChartWithContainerWidth]="{ width: false, height: false }"
    >
      <ng-container html-elements-before>
        <vic-chart-title
          ><p class="variable">{{ sortVar }}</p
          ><p class="units">{{ sortVarUnits }}</p></vic-chart-title
        >
      </ng-container>
      <ng-container html-elements-before>
        <vic-x-axis-label alignment="center">
          British Thermal Unit
        </vic-x-axis-label>
      </ng-container>
      <ng-container html-elements-before>
        <vic-y-axis-label alignment="top">Country</vic-y-axis-label>
      </ng-container>
      <ng-container svg-elements>
        <svg:g vic-xy-background></svg:g>
        <svg:g vic-x-quantitative-axis [config]="xAxisConfig"></svg:g>
        <svg:g vic-y-ordinal-axis [config]="yAxisConfig"></svg:g>
        <svg:g vic-primary-marks-bars [config]="sortedDataConfig"></svg:g>
      </ng-container>
    </vic-xy-chart>
  </div>
  <div class="chart-container">
    <div class="chart-title" [style.marginLeft.px]="24"
      ><p class="variable">{{ followVar }}</p
      ><p class="units">{{ followVarUnits }}</p></div
    >
    <vic-xy-chart
      class="follow-chart"
      [margin]="{ top: 30, right: 36, bottom: 36, left: 24 }"
      [height]="chartHeight"
      [width]="460"
      [scaleChartWithContainerWidth]="{ width: false, height: false }"
    >
      <ng-container svg-elements>
        <svg:g vic-xy-background></svg:g>
        <svg:g vic-x-quantitative-axis [config]="xAxisConfig"></svg:g>
        <svg:g vic-primary-marks-bars [config]="followingDataConfig"></svg:g>
      </ng-container>
    </vic-xy-chart>
  </div>
</div>
