@use 'functions' as *;
@use 'color';

.main-title {
  @extend %typography-h4;
  padding-bottom: grid(4);
}

.example-title {
  @extend %typography-h5;
  padding-bottom: grid(3);
}

.example {
  display: block;
  padding-top: grid(6);
  padding-bottom: grid(8);
}
