$blue: #2d6e8d; // was #4472c4;
$lightblue: #f9a71c; // was #deebf7; #dbe9f9;
$lineColor: #505050;
$gridLine: #f0f0f0; // was $lineColor; #f0f0f0;
$domainLine: #505050; // was #bfbfbf; $lineColor; #bfbfbf;
$darkBlue: #17315a; // was #0b2949;
$goalColor: #f9a71c;
$comparison: #17315a;
