$blue: #2d6e8d; // was #4472c4;
$lightblue: #deebf7; // #f9a71c; was #dbe9f9;
$lineColor: #505050;
$gridLine: #f0f0f0; // $lineColor; was #f0f0f0;
$domainLine: #505050; // was #bfbfbf; // $lineColor; was #bfbfbf;
$darkBlue: #17315a; // was #0b2949;
$goalColor: #f9a71c;
$comparison: #17315a;
