$blue: #2d6e8d; // was #4472c4;
$lightblue: #deebf7; // was #dbe9f9;
$lineColor: #505050;
$font-family: Segoe UI;

svg {
  font-family: $font-family;
  font-size: 20px;
}

form {
  display: flex;
  gap: 2em;
  padding-top: 1.5em;
}

option {
  &:checked {
    background: $lightblue;
  }

  &[disabled] {
    color: lightgrey;
  }
}

.title {
  font-size: 2rem;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.image-container,
.header {
  width: fit-content;
}

.image {
  padding: 80px 20px 50px 190px !important;
}

line,
rect {
  shape-rendering: crispedges;
}

circle {
  fill: none;
  stroke: black;
  stroke-opacity: 70%;
}

.vic-bars-g > g:last-child rect {
  display: none;
}

.gridline {
  stroke: $lineColor; // was #f0f0f0;
}

.tick {
  text {
    font-family: $font-family;
  }

  line:not(.gridline) {
    display: none;
  }
}

.vic-y .domain {
  stroke: $lineColor; // was #bfbfbf;
}

.vic-x .domain {
  stroke: $blue;
}

.comparison {
  line {
    stroke: $blue;
    stroke-dasharray: 1 6;
    stroke-width: 2.5;
    stroke-linecap: round;
  }

  text {
    text-transform: capitalize;
  }
}

.percent-labels line {
  stroke: black;
}

$axisFontSize: 16px;

.percent-label {
  text-anchor: end;
  alignment-baseline: middle;
  font-size: $axisFontSize;
}

.vic-axis-g,
.size-headers,
.comparison-label,
.direction-label,
.x-label {
  font-size: $axisFontSize;
}

.x-label {
  text-anchor: end;
}

.comparison-label {
  font-weight: bold;
}

.size-headers {
  text-anchor: end;
}
