<hsi-ui-combobox class="pixar-movies-dropdown">
  <hsi-ui-combobox-label>
    <span>Pixar Movies Combobox</span>
  </hsi-ui-combobox-label>
  <hsi-ui-textbox>
    <p boxLabel
      >This combobox stores your favorite pre-Disney Star Wars movie!</p
    >
    <span class="material-symbols-outlined expand-more" boxIcon>
      expand_more
    </span>
  </hsi-ui-textbox>
  <hsi-ui-listbox (valueChanges)="onSelection($event)">
    <hsi-ui-listbox-group>
      <hsi-ui-listbox-label>
        <span class="group-label">Original Trilogy</span>
      </hsi-ui-listbox-label>
      <hsi-ui-listbox-option
        *ngFor="let option of optionsGroup1"
        [value]="option.id"
        >{{ option.displayName }}</hsi-ui-listbox-option
      >
    </hsi-ui-listbox-group>
    <hsi-ui-listbox-group>
      <hsi-ui-listbox-label>
        <span class="group-label">Prequel Trilogy</span>
      </hsi-ui-listbox-label>
      <hsi-ui-listbox-option
        *ngFor="let option of optionsGroup2"
        [value]="option.id"
        >{{ option.displayName }}</hsi-ui-listbox-option
      >
    </hsi-ui-listbox-group>
  </hsi-ui-listbox>
</hsi-ui-combobox>
<p class="combobox-value">Selected id value: {{ selected$ | async }}</p>
