@use 'functions' as *;

.single-select-combobox-example.simple-example {
  .combobox-value {
    padding-bottom: grid(4);
  }

  .combobox-textbox {
    background: white;
    border: 1px solid grey;
    padding: 12px;
  }

  .textbox-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px; // required for ellipsis to work; maybe take this off later
  }

  .textbox-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .textbox-icon.open {
    transform: rotate(180deg);
  }

  .textbox-icon .material-symbols-outlined {
    transform: scale(1.5);
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
  }

  .combobox-listbox.open {
    background: white;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 2px;
  }

  .listbox-label {
    padding: grid(2) grid(3) grid(1) grid(3);
  }

  .listbox-option .option-label {
    padding: grid(3);
  }

  .listbox-option:hover {
    background: #f2f2f2;
  }

  .listbox-option.selected {
    background: lightgrey;
  }

  .listbox-option.disabled {
    color: lightgrey;
  }

  .listbox-option.current:not(.selected) {
    background: #f2f2f2;
  }

  .group-label {
    font-weight: bold;
  }
}
