$bars: #f9a71c; // was #deebf7; #dbe9f9;
$gridLine: #f0f0f0; // was $lineColor; #f0f0f0;
$domainLine: #505050; // was #bfbfbf; $lineColor; #bfbfbf;
$percentile: #17315a; // was #0b2949;
$goal: #f9a71c;
$comparison: #17315a;
$circles: #e47225;
