$darkestGrey: #505050;
$darkGrey: #949494;
$gray: #bfbfbf;
$lightGrey: #f0f0f0;
$orange: #f9a71c;
$darkOrange: #e47225;
$blue: #17315a;
$lightBlue: #2d6e8d;

$bars: $orange;
$gridLine: $lightGrey;
$domainLine: $darkestGrey;
$stratLabelLine: $gray;
$percentile: $blue;
$goal: $orange;
$comparison: $blue;
$circles: $darkOrange;
