@if (vm$ | async; as vm) {
  <hsi-ui-combobox>
    <hsi-ui-editable-textbox
      [placeholder]="'Select a state'"
      (valueChanges)="onTyping($event)"
      [initialValue]="initialValue?.displayName"
    ></hsi-ui-editable-textbox>
    <hsi-ui-listbox
      (valueChanges)="onSelection($event)"
      [isMultiSelect]="false"
    >
      @for (option of vm.options; track option.id) {
        <hsi-ui-listbox-option
          [value]="option.id"
          [selected]="option.id === vm.selected"
          >{{ option.displayName }}</hsi-ui-listbox-option
        >
      }
    </hsi-ui-listbox>
  </hsi-ui-combobox>
}
