<div class="component-demo">
  <h3 class="title"
    ><ng-content select="[title]"></ng-content> Data Marks component example</h3
  >
  <div class="demo-container">
    <ng-content select="[demo]"></ng-content>
  </div>

  <div [formGroup]="controlPanel" class="file-select-bar">
    <app-radio-input
      *ngFor="let file of fileList"
      [value]="file"
      formControlName="selectedFile"
      >{{getFileDisplayName(file)}}</app-radio-input
    >
  </div>
  <app-code-display [fileData]="fileData$ | async"></app-code-display>
</div>
