<div class="component-demo">
  <h3 class="title"
    ><ng-content select="[title]"></ng-content> Data Marks Component</h3
  >
  <div [formGroup]="form" class="file-select-bar">
    <app-radio-input
      *ngFor="let tab of tabList; let i = index"
      [value]="i"
      [class.selected]="(selectedTabIndex$ | async) === i"
      formControlName="selected"
      >{{tab}}</app-radio-input
    >
  </div>
  <div class="demo-container" *ngIf="(selectedTabIndex$ | async) === 0">
    <ng-content select="[demo]"></ng-content>
  </div>
  <ng-container *ngFor="let file of filesHtml; let i = index;">
    <app-render-file
      [fileData]="file"
      *ngIf="(selectedTabIndex$ | async) === i + 1"
    ></app-render-file>
  </ng-container>
</div>
