<app-content-container>
  <ng-template let-section #customAngular>
    @switch (section.content) {
      @case ('main example') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/viz/grouped-bars-content/grouped-bars-example"
          class="example"
          label="grouped bars example"
        >
          <app-grouped-bars-example></app-grouped-bars-example>
        </app-single-panel-example-display>
      }
    }
  </ng-template>
</app-content-container>
