@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.example-container.single {
  display: flex;
  flex-direction: column;
  border: 1px solid color.$primary-5;
  border-radius: grid(3);
  max-width: var(--max-width, 1200px);

  .panel {
    padding: grid(6) grid(4);
    min-height: 400px;
  }
}
