<div class="bars-example" *ngIf="vm$ | async as vm; else loading">
  <p class="group-title" [style.paddingLeft.px]="vm.chartConfigLeft.margin.left"
    >Average Rainfall by Month</p
  >
  <vic-shared-context class="chart-container">
    @for (city of vm.dataConfig.multiples.calculatedDomain; track $index) {
      <vic-xy-chart
        [config]="$index === 0 ? vm.chartConfigLeft : vm.chartConfigOther"
      >
        <p
          html-elements-before
          class="chart-title"
          [style.paddingLeft.px]="
            ($index === 0 ? vm.chartConfigLeft : vm.chartConfigOther).margin
              .left
          "
          >{{ city }}</p
        >
        <ng-container svg-elements>
          <svg:g
            vic-primary-marks-bars
            [config]="vm.dataConfig"
            [multiple]="{ value: city, index: $index }"
            [vicBarsHoverMoveActions]="hoverAndMoveActions"
            (vicBarsHoverMoveOutput)="updateTooltipForNewOutput($event)"
          >
            <vic-html-tooltip
              [config]="(tooltipConfig$ | async)[city]"
              [template]="htmlTooltip"
              [templateContext]="{ multiple: city }"
            ></vic-html-tooltip>
          </svg:g>
          <svg:g vic-x-quantitative-axis [config]="vm.xAxisConfig" />
          @if ($index === 0) {
            <svg:g vic-y-ordinal-axis [config]="vm.yAxisConfig" />
          }
        </ng-container>
      </vic-xy-chart>
    }
  </vic-shared-context>
</div>

<ng-template #loading>Loading...</ng-template>

<ng-template #htmlTooltip let-multiple="multiple">
  @if ((tooltipData$ | async)[multiple]; as tooltipData) {
    <div class="small-multiples-bars-example-tooltip-container">
      <div class="tooltip-content" [style.--color]="tooltipData.color">
        <p class="tooltip-label multiple">
          {{ tooltipData.values.multiple }}
        </p>
        <p class="tooltip-label category">
          {{ tooltipData.values.y }}
        </p>
        <div class="values-container">
          <p class="tooltip-label y">
            <span class="value-label">Value</span>
            {{ tooltipData.values.x }}
          </p>
        </div>
      </div>
      <svg
        width="100%"
        height="12"
        [style.--width]="'20px'"
        class="svg-triangle"
      >
        <g class="svg-g">
          <path class="triangle-path" d="M 0,0 10,12 20,0"></path>
        </g></svg
    ></div>
  }
</ng-template>
