@use 'vars' as *;
@use 'functions' as *;
@use 'index' as hsi-adk;
@use '../../styles/placeholders.scss' as *;

.bars-example {
  .ui-instructions {
    padding-bottom: grid(2);
  }

  .direction-toggle-group {
    margin-bottom: grid(4);
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .margin-change-button {
    display: block;
    margin-bottom: grid(4);
  }

  .chart-container {
    display: flex;
  }

  .group-title {
    padding-bottom: grid(2);
  }

  .chart-title {
    font-size: 14px;
  }

  .vic-bars-label {
    font-size: 12px;
  }

  .vic-chart-svg {
    display: inline;
  }
}

.small-multiples-bars-example-tooltip-container {
  @extend %vic-examples-multiples-tooltip-container-styles;
}
