@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.cards-title {
  @extend %typography-h4;
}

.cards-container {
  width: 100%;
  padding-top: grid(8);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: grid(3);
}
