@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: grid(4) grid(2) grid(2) grid(4);
}

.item {
  display: block;
  padding-right: grid(2);
  padding-top: grid(1);
  padding-bottom: grid(1);
  margin: 1px 0;
  line-height: 1.5;
  @extend %typography-body-1;
  font-size: 18px;
}

.item:hover {
  cursor: pointer;
  background-color: colors.$primary-50;
  transition: all 200ms;
}

.item.active {
  color: colors.$highlight-default;
  background-color: colors.$primary-50;
}

.top-border {
  border-top: 1px solid colors.$primary-100;
  margin-top: grid(4);
  padding-top: grid(3);
}

.title {
  @extend %typography-h5;
  padding: grid(1) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
