@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: grid(4) grid(2) grid(2) grid(4);

  .top-border {
    border-top: 1px solid colors.$primary-100;
    margin-top: grid(4);
    padding-top: grid(3);
  }

  .title.content {
    @extend %typography-h5;
    padding: grid(1) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title.docs {
    @extend %typography-overline-large;
    padding: grid(1) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
