@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';

$dividing-line-color: colors.$muted-primary-90;

.sidebar-encapsulation-container {
  display: flex;
  flex-direction: column;
  padding: grid(2);
  height: 100%;

  .application-title {
    @extend %hsi-adk-type-h6;
    padding: 0 grid(2) grid(2) grid(2);
    border-bottom: 1px solid $dividing-line-color;
    white-space: nowrap;
  }

  .top-border {
    border-top: 1px solid $dividing-line-color;
    margin-top: grid(4);
    padding-top: grid(3);
  }

  .title.content {
    @extend %hsi-adk-type-h5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: grid(1) grid(2);
  }

  .title.docs {
    @extend %hsi-adk-type-overline-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: grid(4) grid(2) grid(1) grid(2);
  }

  .directory {
    .item .name {
      padding: grid(1) grid(2);
      line-height: 1.2;
    }
  }
}
