@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

:host {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.terminal-item {
  padding-right: grid(2);
  padding-top: grid(1);
  padding-bottom: grid(1);
  margin: 1px 0;
  margin-left: calc((#{var(--level)} * grid(2)));
}

.terminal-item:hover {
  cursor: pointer;
  background-color: color.$primary-7;
  transition: all 200ms;
}

.terminal-item.active {
  background-color: color.$primary-7;
  color: color.$highlight-default;
}

.expandable-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1px 0;
  margin-left: calc(#{var(--level)} * grid(2));
}

.expandable-item:hover {
  cursor: pointer;
  background-color: color.$primary-7;
  transition: all 200ms;
}

.expandable-item-name {
  padding-right: grid(2);
  padding-top: grid(1);
  padding-bottom: grid(1);
  line-height: 1.2;
}

.arrow {
  transition: all 150ms;
  color: color.$primary-2;
}

.arrow.open {
  transform: rotate(90deg);
  position: relative;
  right: 4px;
}
