<app-content-container>
  <ng-template let-section #escapedContent>
    @switch (section.content.trim()) {
      @case ('GeographiesExampleComponent') {
        <app-single-panel-example-display
          path="app/content/viz-components/geographies-content/geographies-example"
          class="example"
          label="geographies example"
        >
          <app-geographies-example></app-geographies-example>
        </app-single-panel-example-display>
      }
    }
  </ng-template>
</app-content-container>
