@import 'vars', 'placeholders';

.bars-example {
  .vic-bar-label {
    font-size: 12px;
    transform: translateY(4px);
  }
}

.tooltip-container {
  background: rgba($color-white, 0.9);
  padding: $grid-2;
  border: 1px solid $color-primary-6;
  width: 100%;

  .tooltip-label {
    display: flex;
    flex-direction: column;
  }

  .tooltip-label:not(.category) {
    padding-top: $grid-1;
  }

  .category {
    color: var(--color);
    font-weight: $font-weight-bold;
    line-height: 1.2;
    padding-bottom: $grid-1;
  }

  .value-label {
    @extend %typography-overline-large;
  }
}
