<div class="controls">
  <div class="control-panel">
    <p>Set selected property externally</p>
    <div class="buttons">
      @for (option of options; track option.id) {
        <div
          role="button"
          class="select-button"
          (click)="toggleSelected(option)"
        >
          @if ((selected$ | async).includes(option.id)) {
            <span>Deselect</span>
          } @else {
            <span>Select</span>
          }
          &nbsp; {{ option.id }}</div
        >
      }
    </div>
  </div>

  <div class="control-panel">
    <p>Set disabled property externally</p>
    <div class="buttons">
      @for (option of options; track option.id) {
        <div
          role="button"
          class="disable-button"
          (click)="toggleDisabled(option)"
        >
          @if ((disabled$ | async).includes(option.id)) {
            <span>Enable</span>
          } @else {
            <span>Disable</span>
          }
          &nbsp; {{ option.id }}</div
        >
      }
    </div>
  </div>
</div>

<hsi-ui-combobox>
  <hsi-ui-textbox>
    <p boxLabel>Select states</p>
    <span class="material-symbols-outlined expand-more" boxIcon>
      expand_more
    </span>
  </hsi-ui-textbox>
  <hsi-ui-listbox [isMultiSelect]="true" (valueChanges)="onSelection($event)">
    <hsi-ui-select-all-listbox-option
      >Select all</hsi-ui-select-all-listbox-option
    >
    @for (option of options; track option.id) {
      <hsi-ui-listbox-option
        [selected]="(selected$ | async).includes(option.id)"
        [disabled]="(disabled$ | async).includes(option.id)"
        [value]="option.id"
      >
        {{ option.displayName }}
      </hsi-ui-listbox-option>
    }
  </hsi-ui-listbox>
</hsi-ui-combobox>
