@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';
@use 'colors';

.example-container {
  ::-webkit-scrollbar {
    width: $vertical-scrollbar-thickness-thick;
  }

  a.panel {
    min-height: 140px;
    min-width: 140px;
  }

  .scroll-container {
    height: var(--height);
    max-height: var(--max-height);
    overflow-y: auto;
  }

  .title-bar,
  .tab-list {
    padding-top: grid(3);
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top-left-radius: grid(3);
    border-top-right-radius: grid(3);
    background: colors.$muted-primary-95;
    border-bottom: 1px solid colors.$muted-primary-80;
  }

  .tab-label-container:first-of-type {
    padding-left: grid(4);
  }

  .tab-label {
    padding: grid(3) grid(4);
    border-top-left-radius: grid(2);
    border-top-right-radius: grid(2);
    color: color.$highlight-default;

    & > * {
      line-height: initial;
    }
  }

  .tab-label-container:not(.active):hover .tab-label {
    color: color.$highlight-default;
    transition: all 200ms;
    background-color: colors.$muted-primary-90;
  }

  .tab-label-container.active .tab-label {
    border: 1px solid colors.$muted-primary-80;
    border-bottom-color: white;
    color: colors.$primary-0;
    background-color: white;
    font-weight: $font-weight-semibold;
    margin-bottom: -1px;
  }
}
