<div class="header" [style.width.px]="width ? width + 16 : null">
  <p class="file-name-readout"
    ><span class="file-name">{{ getBaseFileName() }}.{{ fileType }}</span></p
  >
  <button class="download-button" (click)="downloadImage()"
    ><span aria-hidden="true" class="material-symbols-outlined download-icon"
      >download</span
    >
  </button>
</div>
<div
  #imageContainer
  class="image-container"
  [style.width.px]="width ? width + imagePadding : null"
  [style.height.px]="height ? height + imagePadding : null"
>
  <div #image class="image" [style.padding.px]="imagePadding">
    <ng-content></ng-content>
  </div>
</div>
