@use 'index' as hsi-adk;
@use 'vars' as *;
@use 'colors';

:host {
  display: flex;
  flex-direction: column;
  padding-top: hsi-adk.grid(4);
  width: fit-content;
}

.header {
  display: flex;
  gap: hsi-adk.grid(4);
  align-items: center;
  justify-content: flex-end;
}

.file-name-readout {
  position: relative;
  top: 2px;
}

.label {
  padding-right: hsi-adk.grid(3);
}

.file-name {
  font-family: $font-mono;
}

.download-button {
  cursor: pointer;
  border: 1px solid colors.$muted-primary-90;
  background-color: colors.$muted-primary-95;
  display: flex;
  gap: hsi-adk.grid(1);
  align-items: center;
  justify-content: center;
  padding: hsi-adk.grid(1) hsi-adk.grid(2);
  border-radius: hsi-adk.grid(2);
}

.download-button:hover {
  border-color: colors.$primary-50;
  background-color: colors.$primary-50;
  color: white;
}

.image-container {
  margin: hsi-adk.grid(2) 0;
  border: 1px dashed colors.$muted-primary-50;
  padding: hsi-adk.grid(2);
  border-radius: hsi-adk.grid(2);
  width: fit-content;
}

.image {
  height: 100%;
  width: fit-content;
}
