<app-content-container class="axes-content-container">
  <ng-template let-section #customAngular>
    @switch (section.content) {
      @case ('small axis examples') {
        <div class="small-examples-container axes">
          <div class="example quant-quant">
            <app-dots-scatterplot-example
              [xAxisConfig]="defaultAxes.x"
              [yAxisConfig]="defaultAxes.y"
            ></app-dots-scatterplot-example>
          </div>
          <div class="example ord-quant">
            <app-bars-simple-states-example></app-bars-simple-states-example>
          </div>
        </div>
      }
      @case ('small axis labels examples') {
        <div class="small-examples-container labels">
          <div class="example">
            <p class="chart-title default">With default label positions</p>
            <app-dots-scatterplot-example
              [xAxisConfig]="defaultAxes.x"
              [yAxisConfig]="defaultAxes.y"
            ></app-dots-scatterplot-example>
          </div>
          <div class="example">
            <p class="chart-title default"
              >With custom positioned and wrapped labels</p
            >
            <app-dots-scatterplot-example
              [xAxisConfig]="customLabelAxes.x"
              [yAxisConfig]="customLabelAxes.y"
            ></app-dots-scatterplot-example>
          </div>
        </div>
      }
      @case ('small axis grid examples') {
        <div class="small-examples-container grid">
          <div class="example">
            <p class="chart-title default">With default grid configuration</p>
            <app-dots-scatterplot-example
              [xAxisConfig]="defaultGridAxes.x"
              [yAxisConfig]="defaultGridAxes.y"
            ></app-dots-scatterplot-example>
          </div>
          <div class="example">
            <p class="chart-title default">With custom grid configuration</p>
            <app-dots-scatterplot-example
              [xAxisConfig]="customGridAxes.x"
              [yAxisConfig]="customGridAxes.y"
            ></app-dots-scatterplot-example>
          </div>
        </div>
      }
      @case ('small axis baseline examples') {
        <div class="small-examples-container baseline">
          <div class="example">
            <p class="chart-title default">With default axis baselines</p>
            <app-bars-simple-states-example></app-bars-simple-states-example>
          </div>
          <div class="example">
            <p class="chart-title default"
              >With a default zero axis when there are positive and negative
              values</p
            >
            <app-bars-simple-states-example
              [usePosNegData]="true"
            ></app-bars-simple-states-example>
          </div>
        </div>
      }
    }
  </ng-template>
</app-content-container>
