@use '../../ca-access-interim/csa/csa.component.scss';
@use '../../ca/color.scss';

.image {
  padding-top: 150px !important;
  padding-left: 200px !important;
}

.vic-axis-y-ordinal text {
  transform: translateX(0);
}

.average-header {
  text {
    text-anchor: middle;
  }

  line {
    stroke: black;
  }
}

.average {
  fill: white;
}

.percentile {
  text-anchor: end;
}

circle {
  stroke-opacity: 1;
}

.legend-label {
  text-decoration: underline;
}

.legend-border {
  stroke: color.$gray;
  stroke-width: 2px;
}
