@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';
@use 'colors';

.lib-docs-encapsulation-container {
  .lib-title {
    @extend %hsi-adk-type-h6;
    padding: grid(2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .lib-title:hover {
    background-color: colors.$active-background;
    transition: all 200ms;
  }

  .lib-title .arrow {
    transition: all 150ms;
    color: colors.$muted-primary-80;
    transform: scale(1.5);
  }

  .section-label {
    margin-top: grid(3);
    margin-bottom: grid(1);
    padding: 0 grid(2);
    @extend %hsi-adk-type-subtitle-2;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }

  .section-label.documentation {
    cursor: pointer;
  }

  .overview {
    display: block;
    padding: grid(1) grid(2);
    margin: 1px 0;
    line-height: 1.2;
  }

  .overview:hover {
    cursor: pointer;
    background-color: colors.$active-background;
    transition: all 200ms;
  }

  .overview.active {
    color: colors.$active;
    background-color: colors.$active-background;
  }

  .manual-docs-directory,
  .automated-docs-directory {
    .item {
      line-height: 1.2;
    }
    .item .name {
      padding: grid(1) grid(2);
      line-height: 1.2;
    }
  }
}
