@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

:host {
  display: block;
}

.section-label {
  margin-top: grid(3);
  margin-bottom: grid(1);
  @extend %typography-subtitle-2;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

.section-label.documentation {
  cursor: pointer;
}

.nav-item {
  display: block;
  padding-right: grid(2);
  padding-top: grid(1);
  padding-bottom: grid(1);
  margin: 1px 0;
  line-height: 1.2;
}

.nav-item:hover {
  cursor: pointer;
  background-color: color.$primary-7;
  transition: all 200ms;
}

.nav-item.active {
  color: color.$highlight-default;
  background-color: color.$primary-7;
}

.close-button {
  cursor: pointer;
}
