@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';
@use 'colors';
@use '../../../../../app-dev-kit/src/lib/styles' as hsi-adk;

$active-background-color: colors.$muted-primary-95;

:host {
  display: block;
}

.lib-docs {
  padding-bottom: grid(4);
}

.lib-title {
  @include hsi-adk.body-large;
  padding: grid(1) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.lib-title:hover {
  background-color: $active-background-color;
  transition: all 200ms;
}

.lib-title .arrow {
  transition: all 150ms;
  color: color.$primary-6;
  transform: scale(1.5);
}

.section-label {
  margin-top: grid(3);
  margin-bottom: grid(1);
  @include hsi-adk.label-small-caps;
}

.section-label.documentation {
  cursor: pointer;
}

.overview {
  display: block;
  padding-right: grid(2);
  padding-top: grid(1);
  padding-bottom: grid(1);
  margin: 1px 0;
  line-height: 1.2;
}

.overview:hover {
  cursor: pointer;
  background-color: $active-background-color;
  transition: all 200ms;
}

.overview.active {
  color: color.$highlight-default;
  background-color: $active-background-color;
}

.manual-docs-directory {
  .item .name {
    line-height: 1.2;
  }
}
