@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';
@use '../../../../../app-dev-kit/src/lib/styles' as hsi-adk;

.main-title {
  @include hsi-adk.title-small;
  padding-bottom: grid(4);
}

.example-title {
  @include hsi-adk.body-large;
  padding-bottom: grid(3);
}

.example {
  display: block;
  padding-top: grid(6);
  padding-bottom: grid(8);
}
