@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.main-title {
  @extend %hsi-adk-type-h4;
  padding-bottom: grid(4);
}

.example-title {
  @extend %hsi-adk-type-h5;
  padding-bottom: grid(3);
}

.example {
  display: block;
  padding-top: grid(6);
  padding-bottom: grid(8);
}
