<app-component-demo [folderName]="folderName">
  <span title>Geographies</span>
  <ng-container
    demo
    *ngIf="dataMarksConfig$ | async as dataMarksConfig; else loading"
  >
    <p>Equal values scale</p>
    <vic-map-chart
      class="chart-component"
      [margin]="margin"
      [height]="height"
      [width]="width"
    >
      <ng-container html-elements-after>
        <vic-map-legend
          class="legend-component"
          [width]="400"
          [height]="20"
          [outlineColor]="outlineColor"
        ></vic-map-legend>
      </ng-container>
      <svg:g
        vic-data-marks-geographies
        svg-elements
        [config]="dataMarksConfig"
        [vicGeographiesHoverEffects]="hoverEffects"
        (hoverEventOutput)="updateTooltipForNewOutput($event)"
      >
        <vic-html-tooltip
          [config]="(tooltipConfig$ | async)"
          [template]="htmlTooltip"
        ></vic-html-tooltip>
      </svg:g>
    </vic-map-chart>
  </ng-container>
  <ng-template #loading>Loading...</ng-template>
</app-component-demo>

<ng-template #htmlTooltip>
  <div [style.--color]="(tooltipData$ | async).color" class="tooltip-container">
    <p class="tooltip-label geography">
      {{ (tooltipData$ | async).geography }}
    </p>
    <div class="values-container">
      <p class="tooltip-label x">
        <span class="value-label">Income</span>
        {{ (tooltipData$ | async).attributeValue }}
      </p>
    </div>
  </div>
</ng-template>
