@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

.effect-title {
  @extend %typography-subtitle-2;
  padding-top: grid(2);
}

.toggle-container {
  padding-bottom: grid(4);
}

.tooltip-container {
  @extend %tooltip-container-styles;

  .geography {
    font-weight: $font-weight-bold;
    line-height: 1.2;
    padding-bottom: grid(1);
  }

  .tooltip-label {
    display: flex;
    flex-direction: column;
  }

  .tooltip-label:not(.geography) {
    padding-top: grid(1);
  }

  .value-label {
    @extend %typography-overline-large;
  }
}
