@import 'vars', 'placeholders';

.effect-title {
  @extend %typography-subtitle-2;
  padding-top: $grid-2;
}

.toggle-container {
  padding-bottom: $grid-4;
}

.chart-component {
  padding-top: $grid-4;
}

.data-binning-description .value {
  font-weight: $font-weight-bold;
}

.fill-description {
  font-size: 14px;
}

.legend-component {
  display: block;
  padding-top: $grid-6;
}

.tooltip-container {
  background: rgba($color-white, 0.9);
  padding: $grid-2;
  border: 1px solid $color-primary-6;
  width: 100%;

  .geography {
    font-weight: $font-weight-bold;
    line-height: 1.2;
    padding-bottom: $grid-1;
  }

  .tooltip-label {
    display: flex;
    flex-direction: column;
  }

  .tooltip-label:not(.geography) {
    padding-top: $grid-1;
  }

  .value-label {
    @extend %typography-overline-large;
  }
}
