@use 'vars' as *;
@use 'colors';
@use 'index' as hsi-adk;

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: hsi-adk.grid(3) hsi-adk.grid(2) hsi-adk.grid(2) hsi-adk.grid(4);
  height: 100%;
  max-height: 100vh;
  position: sticky;
  top: 0;

  .application-title {
    @include hsi-adk.title-small;
    padding-bottom: hsi-adk.grid(2);
    border-bottom: 1px solid colors.$muted-primary-80;
    white-space: nowrap;
  }

  .top-border {
    border-top: 1px solid colors.$muted-primary-90;
    margin-top: hsi-adk.grid(4);
    padding-top: hsi-adk.grid(3);
  }

  .title.content {
    @include hsi-adk.title-medium;
    padding: hsi-adk.grid(1) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title.docs {
    @include hsi-adk.label-2xs-caps;
    padding: hsi-adk.grid(4) 0 hsi-adk.grid(1) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
