<div class="bars-example" *ngIf="vm$ | async as vm; else loading">
  <div class="chart-container">
    @for (city of vm.dataConfig.multiples.calculatedDomain; track $index) {
      <p
        class="chart-title"
        [style.paddingLeft.px]="vm.chartConfig($index).margin.left"
        >{{ city | date }}</p
      >
      <vic-xy-chart [config]="vm.chartConfig($index)">
        <ng-container svg-elements>
          <svg:g
            vic-primary-marks-bars
            [config]="vm.dataConfig"
            [multiple]="{ value: city, index: $index }"
            [vicBarsHoverMoveActions]="hoverAndMoveActions"
            (vicBarsHoverMoveOutput)="updateTooltipForNewOutput($event)"
          >
            <vic-html-tooltip
              [config]="tooltipConfig$ | async"
              [template]="htmlTooltip"
            ></vic-html-tooltip>
          </svg:g>
          @if ($index === 0) {
            <svg:g vic-x-quantitative-axis [config]="vm.xAxisConfig" />
          }
        </ng-container>
      </vic-xy-chart>
    }
  </div>
</div>

<ng-template #loading>Loading...</ng-template>

<ng-template #htmlTooltip>
  <div
    [style.--color]="(tooltipData$ | async).color"
    class="bars-example-tooltip-container"
  >
    <p class="tooltip-label category">
      {{ (tooltipData$ | async).values.y }}
    </p>
    <div class="values-container">
      <p class="tooltip-label y">
        <span class="value-label">Value</span>
        {{ (tooltipData$ | async).values.x }}
      </p>
    </div>
  </div>
</ng-template>
