<h2 class="main-title">Bars Data Marks Component</h2>
<app-split-panel-example-display
  height="600px"
  path="app/content/viz-components/bars-content/bars-example"
  class="example"
  label="bars example"
>
  <app-bars-example></app-bars-example>
</app-split-panel-example-display>

<app-split-panel-example-display
  height="600px"
  path="app/content/viz-components/bars-content/grouped-bars-example"
  class="example"
  label="grouped bars example"
>
  <app-grouped-bars-example></app-grouped-bars-example>
</app-split-panel-example-display>
