$blue: #4472c4;

svg {
  font-size: 12px;
}

form {
  display: flex;
  gap: 2em;
  padding-top: 1.5em;
}

option:checked {
  display: none;
}

.title {
  font-size: 2rem;
}

.selection {
  display: flex;
  gap: 0.4em;
}

.image {
  padding: 20px 20px 20px 100px !important;
}

line {
  shape-rendering: crispedges;
}

circle {
  fill: none;
  stroke: black;
  stroke-opacity: 50%;
}

.vic-bars-g {
  rect {
    fill: #dbe9f9;
    stroke: #0b2949;
  }

  & > g:last-child rect {
    display: none;
  }
}

.gridline {
  stroke: #f0f0f0;
}

.tick line:not(.gridline) {
  display: none;
}

.vic-y .domain {
  stroke: #bfbfbf;
}

.vic-x .domain {
  stroke: $blue;
}

.comparison {
  line {
    stroke: $blue;
    stroke-dasharray: 1 6;
    stroke-width: 2.5;
    stroke-linecap: round;
  }

  text {
    text-transform: capitalize;
  }
}

.percent-labels line {
  stroke: black;
}

.percent-label {
  text-anchor: end;
  alignment-baseline: middle;
}

.comparison-label {
  font-weight: bold;
}
