@use 'vars' as *;
@use 'functions' as *;
@use 'color';
@use '../../styles/placeholders.scss' as *;

.tooltip-line {
  stroke: white;
}

.stacked-area-example-tooltip-container {
  @extend %vc-examples-tooltip-container-styles;
}
