// @use 'vars' as *;
// @use 'functions' as *;
// @use 'index' as hsi-adk;
// @use '../../styles/placeholders.scss' as *;

.user-selections {
  display: flex;
  gap: grid(8);
}

.selection-title {
  // @include hsi-adk.label-xs;
  padding-top: grid(2);
}

.toggle-container {
  padding-bottom: grid(4);
}

.chart-component {
  padding-top: grid(4);
}

.data-binning-description .value {
  font-weight: bold;
}

.fill-description {
  font-size: 14px;
}

.legend-component {
  display: block;
  padding-top: grid(6);
  max-width: 80px;
}
