<hsi-ui-combobox>
  <hsi-ui-editable-textbox
    [placeholder]="'Select states'"
    [ngFormControl]="inputFormControl"
  ></hsi-ui-editable-textbox>
  <hsi-ui-listbox [ngFormControl]="listboxFormControl" [isMultiSelect]="true">
    @if (selected$ | async; as selected) {
      @for (option of filteredOptions$ | async; track option.id) {
        <hsi-ui-listbox-option
          [value]="option.id"
          [selected]="selected.includes(option.id)"
          >{{ option.displayName }}</hsi-ui-listbox-option
        >
      }
    }
  </hsi-ui-listbox>
</hsi-ui-combobox>
