@use '../../src/core/scss/sass-utils';
@use './theming';

@mixin create-theme() {
  @include sass-utils.map-scss-vars-into-css-vars(
    theming.$colors,
    'hsi-adk-color'
  );

  @include sass-utils.map-scss-vars-into-css-vars(
    theming.$font,
    'hsi-adk-font'
  );
}
