@use './scss/typography' as *;

%hsi-adk-typography-h1 {
  font-family: $font-sans;
  font-size: 96px;
  font-weight: $font-weight-light;
  letter-spacing: -1.5px;
}

%hsi-adk-typography-h2 {
  font-family: $font-sans;
  font-size: 60px;
  font-weight: $font-weight-light;
  letter-spacing: -0.5px;
}

%hsi-adk-typography-h3 {
  font-family: $font-sans;
  font-size: 48px;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
}

%hsi-adk-typography-h4 {
  font-family: $font-sans;
  font-size: 34px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.25px;
}

%hsi-adk-typography-h5 {
  font-family: $font-sans;
  font-size: 24px;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
}

%hsi-adk-typography-h6 {
  font-family: $font-sans;
  font-size: 20px;
  font-weight: $font-weight-medium;
  letter-spacing: 0.15px;
}

%hsi-adk-typography-subtitle-1 {
  font-family: $font-sans;
  font-size: 16px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.15px;
}

%hsi-adk-typography-subtitle-2 {
  font-family: $font-sans;
  font-size: 14px;
  font-weight: $font-weight-medium;
  letter-spacing: 0.1px;
}

%hsi-adk-typography-body-1 {
  font-family: $font-sans;
  font-size: 16px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.5px;
}

%hsi-adk-typography-body-2 {
  font-family: $font-sans;
  font-size: 14px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.25px;
}

%hsi-adk-typography-button {
  font-family: $font-sans;
  font-size: 14px;
  font-weight: $font-weight-medium;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

%hsi-adk-typography-caption {
  font-family: $font-sans;
  font-size: 12px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.4px;
}

%hsi-adk-typography-overline {
  font-family: $font-sans;
  font-size: 10px;
  font-weight: $font-weight-regular;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

%hsi-adk-typography-overline-large {
  font-family: $font-sans;
  font-size: 11px;
  font-weight: $font-weight-medium;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
