@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';

$title-height: 12vh;
$content-height: 100vh - $title-height;

:host {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  padding-left: grid(2);
  padding-top: grid(4);
  @extend %typography-h2;
  border-bottom: 1px solid colors.$primary-200;
  flex: 0 0 auto;
  height: $title-height;
  white-space: nowrap;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: $content-height;
}

.sidebar {
  overflow-y: auto;
  width: 300px;
  min-width: 280px;
  border-right: 1px solid colors.$primary-200;
}

.main-content {
  overflow-y: auto;
  flex: 10 1 auto;
  padding: grid(8);
}
