@use '../../combobox.scss' as *;
@use 'functions' as *;

.single-select-combobox-example.displayed-value-example {
  .combobox-value {
    padding-bottom: grid(4);
  }

  @extend %example-combobox-styles;
}
