<app-content-container>
  <ng-template let-section #escapedContent>
    @switch (section.content.trim()) {
      @case ('SimpleMultiSelect') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/ui-components/combobox-content/multi-select/simple-multi-select-combobox-example"
          class="example"
          label="simple multi select combobox example"
        >
          <app-simple-multi-select-combobox-example></app-simple-multi-select-combobox-example>
        </app-single-panel-example-display>
      }
      @case ('DisplayMultiSelected') {
        <app-single-panel-example-display
          height="500px"
          path="app/content/ui-components/combobox-content/multi-select/display-multi-selected-combobox-example"
          class="example"
          label="multi select combobox example that displays selected"
        >
          <app-display-multi-selected-combobox-example></app-display-multi-selected-combobox-example>
        </app-single-panel-example-display>
      }
      @case ('DisabledSelectionsMultiSelect') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/ui-components/combobox-content/multi-select/disabled-selections-multi-combobox-example"
          class="example"
          label="multi select combobox example with disabled options"
        >
          <app-disabled-selections-multi-combobox-example></app-disabled-selections-multi-combobox-example>
        </app-single-panel-example-display>
      }
      @case ('NgFormMultiSelect') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/ui-components/combobox-content/multi-select/ng-form-multi-select-combobox-example"
          class="example"
          label="multi select combobox example that uses FormControl"
        >
          <app-ng-form-multi-select-combobox-example></app-ng-form-multi-select-combobox-example>
        </app-single-panel-example-display>
      }
      @case ('SimpleSingleSelect') {
        <app-single-panel-example-display
          height="500px"
          path="app/content/ui-components/combobox-content/single-select/simple-single-select-combobox-example"
          class="example"
          label="simple single select combobox example"
        >
          <app-simple-single-select-combobox-example></app-simple-single-select-combobox-example>
        </app-single-panel-example-display>
      }
      @case ('DisplaySingleSelected') {
        <app-single-panel-example-display
          height="500px"
          path="app/content/ui-components/combobox-content/single-select/display-single-selected-combobox-example"
          class="example"
          label="single select combobox example that displays selected"
        >
          <app-display-single-selected-combobox-example></app-display-single-selected-combobox-example>
        </app-single-panel-example-display>
      }
      @case ('DisabledSelectionsSingleSelect') {
        <app-single-panel-example-display
          height="500px"
          path="app/content/ui-components/combobox-content/single-select/disabled-selections-single-combobox-example"
          class="example"
          label="single select combobox example with disabled options"
        >
          <app-disabled-selections-single-combobox-example></app-disabled-selections-single-combobox-example>
        </app-single-panel-example-display>
      }
      @case ('NgFormSingleSelect') {
        <app-single-panel-example-display
          height="500px"
          path="app/content/ui-components/combobox-content/single-select/ng-form-single-select-combobox-example"
          class="example"
          label="single select combobox example that uses FormControl"
        >
          <app-ng-form-single-select-combobox-example></app-ng-form-single-select-combobox-example>
        </app-single-panel-example-display>
      }
      @case ('GroupedSelectionsSingleSelect') {
        <app-single-panel-example-display
          height="500px"
          path="app/content/ui-components/combobox-content/single-select/grouped-selections-single-combobox-example"
          class="example"
          label="single select combobox example that uses grouping"
        >
          <app-grouped-selections-single-combobox-example></app-grouped-selections-single-combobox-example>
        </app-single-panel-example-display>
      }
    }
  </ng-template>
</app-content-container>
