<app-content-container class="combobox-content-container">
  <ng-template let-section #customAngular>
    @switch (section.content) {
      @case ('stephanie should just work on libs') {
        <app-stephanie-special
          class="stephanie-special-example"
        ></app-stephanie-special>
      }
      @case ('minimal implementation') {
        <app-minimal-implementation-combobox
          class="minimal-implementation-example"
        ></app-minimal-implementation-combobox>
      }
      @case ('multi-select example') {
        <p class="example-label">Multi-select combobox</p>
        <app-minimal-implementation-combobox
          [multiSelect]="true"
          class="minimal-implementation-example"
        ></app-minimal-implementation-combobox>
      }
      @case ('select all example') {
        <p class="example-label"
          >Multi-select combobox with select all option</p
        >
        <app-minimal-implementation-combobox
          [multiSelect]="true"
          [selectAll]="true"
          class="minimal-implementation-example"
        ></app-minimal-implementation-combobox>
      }
      @case ('static label example') {
        <p class="example-label">Combobox with static textbox label</p>
        <app-minimal-implementation-combobox
          [multiSelect]="true"
          [dynamicLabel]="false"
          class="minimal-implementation-example"
        ></app-minimal-implementation-combobox>
      }
      @case ('count selected example') {
        <p class="example-label"
          >Combobox with a selected count textbox label</p
        >
        <app-minimal-implementation-combobox
          [multiSelect]="true"
          [countLabel]="{ singular: 'state', plural: 'states' }"
          class="minimal-implementation-example"
        ></app-minimal-implementation-combobox>
      }
      @case ('custom label example') {
        <p class="example-label">Combobox with a custom textbox label</p>
        <app-minimal-implementation-combobox
          [multiSelect]="true"
          [customLabel]="customLabel"
          class="minimal-implementation-example"
        ></app-minimal-implementation-combobox>
      }
      @case ('grouped example') {
        <p class="example-label">Combobox with grouped options</p>
        <app-minimal-implementation-combobox
          [multiSelect]="true"
          [groups]="true"
          class="minimal-implementation-example"
        ></app-minimal-implementation-combobox>
      }
      @case ('filterable example') {
        <p class="example-label">Combobox with filterable options</p>
        <app-filterable-options-combobox
          class="minimal-implementation-example"
        ></app-filterable-options-combobox>
      }
      @case ('external selection example') {
        <p class="example-label"
          >Combobox with selected and disabled properties</p
        >
        <app-external-selections-combobox
          class="minimal-implementation-example"
        ></app-external-selections-combobox>
      }
      @case ('combobox label example') {
        <p class="example-label">Combobox with an external label</p>
        <app-minimal-implementation-combobox
          [multiSelect]="true"
          [externalLabel]="true"
          class="minimal-implementation-example"
        ></app-minimal-implementation-combobox>
      }
      @case ('icons example') {
        <p class="example-label">Combobox with checkbox icons</p>
        <app-minimal-implementation-combobox
          [multiSelect]="true"
          [icons]="true"
          class="minimal-implementation-example"
        ></app-minimal-implementation-combobox>
      }
    }
  </ng-template>
</app-content-container>
