<app-content-container>
  <ng-template let-section #customAngular>
    @switch (section.content.trim()) {
      @case ('simple single select') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/ui-components/combobox-content/simple-single-select-combobox-example"
          class="example"
          label="combobox single example"
        >
          <app-simple-single-select-combobox-example></app-simple-single-select-combobox-example>
        </app-single-panel-example-display>
      }
      @case ('simple multi select') {
        <app-single-panel-example-display
          height="600px"
          path="app/content/ui-components/combobox-content/simple-multi-select-combobox-example"
          class="example"
          label="combobox multi example"
        >
          <app-simple-multi-select-combobox-example></app-simple-multi-select-combobox-example>
        </app-single-panel-example-display>
      }
    }
  </ng-template>
</app-content-container>
