@for (item of items; track $index) {
  @if (item.type === DirItem.File) {
    <a
      [routerLink]="getItemPathForLevel(item.name)"
      routerLinkActive="active"
      class="terminal-item"
      [style.--level]="level"
    >
      {{ item.name | undasherize | titlecase }}
    </a>
  } @else {
    <div
      class="expandable-item"
      (click)="toggleSelected(item.name)"
      (enter)="toggleSelected(item.name)"
      role="button"
      tabindex="0"
      [style.--level]="level"
    >
      <p class="expandable-item-name">{{
        item.name | undasherize | titlecase
      }}</p>
      <span
        class="material-symbols-outlined arrow"
        [class.open]="selected[item.name]"
      >
        chevron_right
      </span>
    </div>
    @if (selected[item.name]) {
      <app-sidebar-directory
        class="directory"
        [itemPath]="getItemPathForLevel(item.name)"
        [items]="item.contents"
        [level]="level + 1"
      ></app-sidebar-directory>
    }
  }
}
