@use 'vars' as *;
@use 'colors';
@use 'index' as hsi-adk;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0px;
  scrollbar-gutter: stable;
}

.content-container {
  display: flex;
  flex-direction: row;
  scrollbar-gutter: stable;
}

.sidebar {
  display: block;
  width: $sidebar-width;
  min-width: $sidebar-width;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 1px solid colors.$muted-primary-90;
}

.main-content {
  flex-grow: 1;
  flex-shrink: 1;
  padding: hsi-adk.grid(8);
  overflow: auto;
  display: flex;
  max-height: 100vh;
}
