@use 'functions' as *;
@use 'colors';
@use 'vars' as *;
@use 'index' as hsi-adk;

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'previous next';
  gap: grid(4);
}

.nav-panel {
  border: 1px solid colors.$muted-primary-80;
  padding: grid(4);
  border-radius: grid(2);
  cursor: pointer;
}

.nav-panel:hover {
  background: colors.$primary-98;
  border: 1px solid colors.$primary-70;
}

.nav-panel.previous {
  grid-area: previous;
}

.nav-panel.next {
  grid-area: next;
  text-align: right;

  .name {
    justify-content: flex-end;
  }

  .label {
    justify-content: flex-end;
  }
}

.label {
  @include hsi-adk.label-2xs-caps;
  line-height: 1;
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: grid(2);
  color: colors.$primary-40;
}

.arrow {
  transform: scale(0.8);
  position: relative;
  top: -1px;
}

.previous .name {
  left: -6px;
}

.next .name {
  right: -6px;
}
