@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.input-event-title {
  @extend %typography-subtitle-2;
  padding-top: grid(2);
}

.input-event-instruction {
  @extend %typography-caption;
  padding-bottom: grid(2);
}

.download-button {
  @extend %typography-body-2;
  display: flex;
  &:hover {
    font-weight: $font-weight-bold;
  }
}

.line-labels-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 800px; // match chart width
}

.line-label {
  cursor: pointer;
  @extend %typography-body-2;

  &:hover {
    font-weight: $font-weight-bold;
  }
}

//Note: requires global styles for .vic-html-tooltip-overlay
.lines-example-tooltip-container {
  @extend %tooltip-container-styles;

  .tooltip-label {
    display: flex;
    flex-direction: column;
  }

  .tooltip-label:not(.category) {
    padding-top: grid(1);
  }

  .category {
    color: var(--color);
    font-weight: $font-weight-bold;
    line-height: 1.2;
    padding-bottom: grid(1);
  }

  .value-label {
    @extend %typography-overline-large;
  }
}
