@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.invisible {
  display: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1px 0;
  margin-left: calc(#{var(--level)} * grid(2));
  padding-right: grid(2);
  padding-top: grid(1);
  padding-bottom: grid(1);
}

.item.expandable:hover,
.item.selectable:hover {
  cursor: pointer;
  background-color: color.$primary-7;
  transition: all 200ms;
}

.item.active {
  background-color: color.$primary-7;
  color: color.$highlight-default;
}

.arrow {
  color: color.$primary-2;
  width: 16px;
}
