<h4 class="title">Energy Intensity Example Visualizations</h4>
<div class="documentation-text">
  <p class="text"
    >In this example, we have chosen to make the bars charts in their own
    component, to illustrate how you can continue to create additional child
    components to use in the top level component that is linked to in the file
    directory.</p
  >
  <p class="text"
    >Users could also provide chart code in this top level component.</p
  >
</div>

@if (barsData$ | async; as barData) {
  <app-export-content fileName="EnergyIntensity_2020"
    ><app-energy-intensity-bar [data]="barData"></app-energy-intensity-bar>
  </app-export-content>
}
