@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

.chart-container {
  font-family: 'Bitter', serif;

  .vic-x .tick text {
    font-size: 11px;
    font-family: 'Bitter', serif;
  }

  .vic-y .tick text {
    font-family: 'Bitter', serif;
  }
}
