@use 'index' as hsi-adk;
@use 'vars' as *;

.text-container {
  width: calc(100vw - $sidebar-width - hsi-adk.grid(16));
}

.title {
  @include hsi-adk.title-large;
}

.documentation-text {
  max-width: 900px;
  padding-top: hsi-adk.grid(4);
}

.text {
  padding-bottom: hsi-adk.grid(4);
}
