@use 'index' as hsi-adk;
@use 'vars' as *;
@use 'colors';

@include hsi-adk.css-reset();

html {
  @include hsi-adk.create-theme();
  --hsi-adk-font-sans: #{$font-sans};
  --hsi-adk-font-serif: #{$font-serif};
  --hsi-adk-font-mono: #{$font-mono};

  --hsi-adk-color-muted-primary-0: #000000;
  --hsi-adk-color-muted-primary-5: #0c101f;
  --hsi-adk-color-muted-primary-10: #161b2b;
  --hsi-adk-color-muted-primary-15: #212535;
  --hsi-adk-color-muted-primary-20: #2b3040;
  --hsi-adk-color-muted-primary-25: #363b4c;
  --hsi-adk-color-muted-primary-30: #424658;
  --hsi-adk-color-muted-primary-35: #4d5264;
  --hsi-adk-color-muted-primary-40: #595e70;
  --hsi-adk-color-muted-primary-50: #727689;
  --hsi-adk-color-muted-primary-60: #8c90a4;
  --hsi-adk-color-muted-primary-70: #a6aabf;
  --hsi-adk-color-muted-primary-80: #c2c5db;
  --hsi-adk-color-muted-primary-90: #dee1f7;
  --hsi-adk-color-muted-primary-95: #eff0ff;
  --hsi-adk-color-muted-primary-98: #faf8ff;
  --hsi-adk-color-muted-primary-99: #fefbff;
  --hsi-adk-color-muted-primary-100: #ffffff;
}
