<app-example-display [folderName]="folderName">
  <span title>Stacked Area</span>
  <ng-container demo *ngIf="vm$ | async as vm; else loading">
    <vic-xy-chart [margin]="margin">
      <ng-container svg-elements>
        <svg:g vic-xy-background></svg:g>
        <svg:g vic-x-quantitative-axis [config]="vm.xAxisConfig"></svg:g>
        <svg:g vic-y-quantitative-axis [config]="vm.yAxisConfig"></svg:g>
        <svg:g vic-data-marks-stacked-area [config]="vm.dataConfig"></svg:g>
      </ng-container>
    </vic-xy-chart>
  </ng-container>
  <ng-template #loading>Loading...</ng-template>
</app-example-display>
