<div class="title">ICA</div>
TODO
<ul>
  <li
    >Bar stacks are not working (invisible and visible both have x=0 for some
    reason)</li
  >
  <li
    >Bar widths fail when updating data (e.g., measureCode CWBF). Is there a
    viz-components way of doing this?</li
  >
  <li>Many selections result in invalid combos (e.g., delivSys PZIL)</li>
  <li>Add labels, percentile lines, etc.</li>
</ul>
<form [formGroup]="myForm">
  <div class="selection">
    <label for="delivSys">Delivery System</label>
    <select id="delivSys" formControlName="delivSys">
      <option *ngFor="let system of delivSyss" [ngValue]="system.name">
        {{ system.name }}
      </option>
    </select>
  </div>
  <div class="selection">
    <label for="measureCode">Measure Code</label>
    <select id="measureCode" formControlName="measureCode">
      <option
        *ngFor="let code of measureCodes"
        [ngValue]="code.name"
        [disabled]="code.disabled"
      >
        {{ code.name }}
      </option>
    </select>
  </div>
  <div class="selection">
    <label for="stratVal">Stratification</label>
    <select id="stratVal" formControlName="stratVal">
      <option
        *ngFor="let strat of stratVals"
        [ngValue]="strat.name"
        [disabled]="strat.disabled"
      >
        {{ strat.name }}
      </option>
    </select>
  </div>
</form>
@if (filteredData$ | async; as data) {
  <app-export-content fileName="ica">
    <app-ica-dot-plot [data]="data"></app-ica-dot-plot>
  </app-export-content>
}
