@import '../color.scss';

$font-family: Segoe UI;

svg {
  font-family: $font-family;
  font-size: 20px;
}

form {
  display: flex;
  gap: 2em;
  padding-top: 1.5em;
}

option {
  &:checked {
    background: $lightblue;
  }

  &[disabled] {
    color: lightgrey;
  }
}

.title {
  font-size: 2rem;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.image {
  padding: 80px 20px 50px 190px !important;
}

line,
rect {
  shape-rendering: crispedges;
}

circle {
  fill: white;
  stroke: $blue;
}

@mixin percentile {
  stroke: $darkBlue;
}

.vic-bars-g {
  rect {
    fill: $darkBlue;
  }

  // the invisible stack bars
  & > g:last-child rect {
    display: none;
  }
}

.gridline {
  stroke: $gridLine;
}

.tick {
  text {
    font-family: $font-family;
  }

  line:not(.gridline) {
    display: none;
  }
}

.vic-y .domain {
  stroke: $domainLine;
}

.vic-x .domain {
  stroke: $blue;
}

.comparison {
  line {
    stroke: $blue;
    stroke-dasharray: 1 6;
    stroke-width: 2.5;
    stroke-linecap: round;
  }

  text {
    text-transform: capitalize;
  }
}

.percent-labels line {
  stroke: black;
}

$axisFontSize: 16px;

.percent-label {
  text-anchor: end;
  alignment-baseline: middle;
  font-size: $axisFontSize;
}

.range-title {
  font-size: $axisFontSize;
  font-weight: bold;
}

.range-label {
  font-size: $axisFontSize;
  alignment-baseline: middle;
}

.vic-axis-g,
.size-headers,
.comparison-label,
.direction-label,
.size-title,
.percentile-label,
.plan-header {
  font-size: $axisFontSize;
}

.comparison-label {
  font-weight: bold;
}

.size-headers {
  text-anchor: end;
}

.percentile {
  rect {
    @include percentile;
  }

  text {
    alignment-baseline: middle;
  }
}

.size-label {
  text {
    text-transform: uppercase;
    text-anchor: middle;
  }

  line {
    stroke: black;
    stroke-width: 2px;
  }
}

.size-title {
  text-anchor: middle;
}

.ranges {
  text-anchor: end;
}

.percentile-line {
  stroke: $blue;
  stroke-width: 2;
  stroke-dasharray: 8 4;
}
