@use 'sass:map';

$primary-0: var(--color-primary-0);
$primary-5: var(--color-primary-5);
$primary-10: var(--color-primary-10);
$primary-15: var(--color-primary-15);
$primary-20: var(--color-primary-20);
$primary-25: var(--color-primary-25);
$primary-30: var(--color-primary-30);
$primary-35: var(--color-primary-35);
$primary-40: var(--color-primary-40);
$primary-50: var(--color-primary-50);
$primary-60: var(--color-primary-60);
$primary-70: var(--color-primary-70);
$primary-80: var(--color-primary-80);
$primary-90: var(--color-primary-90);
$primary-95: var(--color-primary-95);
$primary-98: var(--color-primary-98);
$primary-99: var(--color-primary-99);
$primary-100: var(--color-primary-100);

$muted-primary-0: var(--color-muted-primary-0);
$muted-primary-5: var(--color-muted-primary-5);
$muted-primary-10: var(--color-muted-primary-10);
$muted-primary-15: var(--color-muted-primary-15);
$muted-primary-20: var(--color-muted-primary-20);
$muted-primary-25: var(--color-muted-primary-25);
$muted-primary-30: var(--color-muted-primary-30);
$muted-primary-35: var(--color-muted-primary-35);
$muted-primary-40: var(--color-muted-primary-40);
$muted-primary-50: var(--color-muted-primary-50);
$muted-primary-60: var(--color-muted-primary-60);
$muted-primary-70: var(--color-muted-primary-70);
$muted-primary-80: var(--color-muted-primary-80);
$muted-primary-90: var(--color-muted-primary-90);
$muted-primary-95: var(--color-muted-primary-95);
$muted-primary-98: var(--color-muted-primary-98);
$muted-primary-99: var(--color-muted-primary-99);
$muted-primary-100: var(--color-muted-primary-100);

$accent-0: var(--color-accent-0);
$accent-5: var(--color-accent-5);
$accent-10: var(--color-accent-10);
$accent-15: var(--color-accent-15);
$accent-20: var(--color-accent-20);
$accent-25: var(--color-accent-25);
$accent-30: var(--color-accent-30);
$accent-35: var(--color-accent-35);
$accent-40: var(--color-accent-40);
$accent-50: var(--color-accent-50);
$accent-60: var(--color-accent-60);
$accent-70: var(--color-accent-70);
$accent-80: var(--color-accent-80);
$accent-90: var(--color-accent-90);
$accent-95: var(--color-accent-95);
$accent-98: var(--color-accent-98);
$accent-99: var(--color-accent-99);
$accent-100: var(--color-accent-100);

$neutral-0: var(--color-neutral-0);
$neutral-5: var(--color-neutral-5);
$neutral-10: var(--color-neutral-10);
$neutral-15: var(--color-neutral-15);
$neutral-20: var(--color-neutral-20);
$neutral-25: var(--color-neutral-25);
$neutral-30: var(--color-neutral-30);
$neutral-35: var(--color-neutral-35);
$neutral-40: var(--color-neutral-40);
$neutral-50: var(--color-neutral-50);
$neutral-60: var(--color-neutral-60);
$neutral-70: var(--color-neutral-70);
$neutral-80: var(--color-neutral-80);
$neutral-90: var(--color-neutral-90);
$neutral-95: var(--color-neutral-95);
$neutral-98: var(--color-neutral-98);
$neutral-99: var(--color-neutral-99);
$neutral-100: var(--color-neutral-100);
