@use 'sass:map';

// App-Themed primitives
$primary-50: var(--color-primary-50);
$primary-100: var(--color-primary-100);
$primary-200: var(--color-primary-200);
$primary-300: var(--color-primary-300);
$primary-400: var(--color-primary-400);
$primary-500: var(--color-primary-500);
$primary-600: var(--color-primary-600);
$primary-700: var(--color-primary-700);
$primary-800: var(--color-primary-800);
$primary-900: var(--color-primary-900);
$primary-light: var(--color-primary-light);
$primary-primary: var(--color-primary-primary);
$primary-dark: var(--color-primary-dark);
$primary-text: var(--color-primary-text);

$highlight-dark: var(--color-highlight-dark);
$highlight-default: var(--color-highlight-default);
$highlight-light: var(--color-highlight-light);
$highlight-hover: var(--color-highlight-hover);
