@use 'colors';
@use 'vars' as *;
@use 'placeholders' as *;
@use '../../../app-dev-kit/src/lib/styles/' as hsi-adk;
@forward '../../../app-dev-kit/src/lib/styles/reset';

@include hsi-adk.reset($sans-font, $color-text);

html {
  @include hsi-adk.core();
  --hsi-adk-font-sans: #{$sans-font};
  --hsi-adk-font-serif: #{$serif-font};
  --hsi-adk-font-mono: #{$mono-font};
}

// body {
//   ::-webkit-scrollbar {
//     width: $vertical-scrollbar-thickness-thin;
//   }

//   ::-webkit-scrollbar-thumb {
//     background: color.$primary-6;
//   }
// }

h1 {
  @extend %hsi-adk-type-h1;
}

h2 {
  @extend %hsi-adk-type-h2;
}

h3 {
  @extend %hsi-adk-type-h3;
}

h4 {
  @extend %hsi-adk-type-h4;
}

h5 {
  @extend %hsi-adk-type-h5;
}

h6 {
  @extend %hsi-adk-type-h6;
}
