@use '@hsi/app-dev-kit' as hsi-adk;
@use 'vars' as *;
@use 'colors';

@include hsi-adk.reset();

html {
  @include hsi-adk.create-theme();
  --hsi-adk-font-sans: #{$font-sans};
  --hsi-adk-font-serif: #{$font-serif};
  --hsi-adk-font-mono: #{$font-mono};
}
