@use 'index' as hsi-adk; // lib to app imports of styles have to reference lib directly, along with stylePreProcessor options, https://github.com/nrwl/nx/discussions/22622
@use 'vars' as *;
@use 'colors';

@include hsi-adk.reset();

html {
  @include hsi-adk.create-theme();
  --hsi-adk-font-sans: #{$font-sans};
  --hsi-adk-font-serif: #{$font-serif};
  --hsi-adk-font-mono: #{$font-mono};
}
