@use 'colors';
@use 'vars' as *;
@use '../../../app-dev-kit/src/styles' as hsi-adk;

@include hsi-adk.reset();

html {
  @include hsi-adk.create-theme();
  --hsi-adk-font-sans: #{$font-sans};
  --hsi-adk-font-serif: #{$font-serif};
  --hsi-adk-font-mono: #{$font-mono};
}
