@import '../ca-access.scss';

@mixin percentile {
  fill: $lightblue;
  stroke: $darkBlue;
}

.vic-stacked-bars-bar {
  @include percentile;
}

.percentile {
  rect {
    @include percentile;
  }

  text {
    alignment-baseline: middle;
  }
}
