<div class="multi-select-combobox-example grouped-example">
  <p class="combobox-value"
    >Combobox selections (id values): {{ (selected$ | async).join(', ') }}</p
  >
  <hsi-ui-combobox class="office-locations-dropdown">
    <hsi-ui-combobox-label>
      <span>Mathematica Office Locations Combobox</span>
    </hsi-ui-combobox-label>
    <hsi-ui-textbox>
      <p boxLabel>Select the office locations you've been to!</p>
      <span class="material-symbols-outlined expand-more" boxIcon>
        expand_more
      </span>
    </hsi-ui-textbox>
    <hsi-ui-listbox [isMultiSelect]="true" (valueChanges)="onSelection($event)">
      <hsi-ui-listbox-group>
        <hsi-ui-listbox-label>
          <span class="group-label">East Coast Locations</span>
        </hsi-ui-listbox-label>
        @for (option of eastCoastOptions; track $index) {
          <hsi-ui-listbox-option [value]="option.id"
            >{{ option.displayName }}
            <span class="material-symbols-outlined icon checkbox" selectedIcon>
              check_box
            </span>
            <span
              unselectedIcon
              class="material-symbols-outlined icon checkbox"
            >
              check_box_outline_blank
            </span>
          </hsi-ui-listbox-option>
        }
      </hsi-ui-listbox-group>
      <hsi-ui-listbox-group>
        <hsi-ui-listbox-label>
          <span class="group-label">Midwest Locations</span>
        </hsi-ui-listbox-label>
        @for (option of midwestOptions; track $index) {
          <hsi-ui-listbox-option [value]="option.id"
            >{{ option.displayName }}
            <span class="material-symbols-outlined icon checkbox" selectedIcon>
              check_box
            </span>
            <span
              unselectedIcon
              class="material-symbols-outlined icon checkbox"
            >
              check_box_outline_blank
            </span>
          </hsi-ui-listbox-option>
        }
      </hsi-ui-listbox-group>
      <hsi-ui-listbox-group>
        <hsi-ui-listbox-label>
          <span class="group-label">West Coast Locations</span>
        </hsi-ui-listbox-label>
        @for (option of westCoastOptions; track $index) {
          <hsi-ui-listbox-option [value]="option.id"
            >{{ option.displayName }}
            <span class="material-symbols-outlined icon checkbox" selectedIcon>
              check_box
            </span>
            <span
              unselectedIcon
              class="material-symbols-outlined icon checkbox"
            >
              check_box_outline_blank
            </span>
          </hsi-ui-listbox-option>
        }
      </hsi-ui-listbox-group>
    </hsi-ui-listbox>
  </hsi-ui-combobox>
</div>
