@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.example-container.split {
  display: flex;
  max-width: var(--max-width, 1200px);

  .resizer {
    display: flex;
    justify-content: center;
    width: grid(2);
    margin: 0 grid(1);
    border-radius: grid(2);
    cursor: ew-resize;

    &:hover {
      background: color.$primary-7;
    }
  }

  .panel {
    border-radius: grid(3);
    border: 1px solid color.$primary-5;
    min-width: 100px;
  }

  .panel.example {
    width: calc(50% - 0.5rem);
    border-right: 1px solid color.$primary-5;
  }

  .panel.code {
    flex: 1;
    overflow-x: auto;
  }

  .scroll-container {
    max-height: 600px;
    overflow-y: auto;
  }

  .panel.example .scroll-container {
    display: flex;
    padding: grid(6) grid(4);
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .title-bar {
    padding-top: grid(3);
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top-left-radius: grid(3);
    border-top-right-radius: grid(3);
    background: color.$primary-8;
    border-bottom: 1px solid color.$primary-6;
  }

  .example-label {
    padding: grid(3) grid(4);
    font-weight: $font-weight-semibold;
    color: color.$primary-1;
    line-height: initial;
  }

  .file-select > .selected {
    margin-bottom: -1px;
  }

  .tab:first-of-type .radio-input-container {
    padding-left: grid(4);
  }

  .radio-input-label {
    padding: grid(3) grid(4);
    border-top-left-radius: grid(2);
    border-top-right-radius: grid(2);
    color: color.$highlight-default;
  }

  .radio-input-label:not(.selected):hover {
    color: color.$highlight-default;
    transition: all 200ms;
    background-color: color.$primary-7;
  }

  .radio-input-label.selected {
    border: 1px solid color.$primary-6;
    border-bottom-color: white;
    color: color.$primary-1;
    background-color: white;
    font-weight: $font-weight-semibold;
  }
}
