@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

.example-container.split {
  display: flex;
  max-width: var(--max-width, 1200px);

  .panel {
    border-radius: grid(3);
    border: 1px solid color.$primary-5;
    min-width: 100px;
  }

  .panel.example {
    width: calc(50% - 0.5rem);
    border-right: 1px solid color.$primary-5;
  }

  .panel.code {
    flex: 1;
    overflow-x: auto;
  }

  .panel.example .scroll-container {
    display: flex;
    padding: grid(6) grid(4);
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .example-label {
    padding: grid(3) grid(4);
    font-weight: $font-weight-semibold;
    color: color.$primary-1;
    line-height: initial;
  }

  .resizer {
    display: flex;
    justify-content: center;
    width: grid(2);
    margin: 0 grid(1);
    border-radius: grid(2);
    cursor: ew-resize;

    &:hover {
      background: color.$primary-7;
    }
  }
}
