<nav class="sidebar-container">
  <p class="application-title">HSI Frontend Shared Packages</p>
  @if (routerState.state$ | async; as state) {
    <a
      class="item"
      (click)="selectOverview()"
      [class.active]="
        state.lib === Library.SharedPackages &&
        state.section === Section.Overview
      "
    >
      About Shared Packages
    </a>
    <app-lib-docs
      class="docs-directory"
      [lib]="{ displayName: 'UI Components', id: Library.UiComponents }"
      [expanded]="false"
    ></app-lib-docs>
    <app-lib-docs
      class="docs-directory"
      [lib]="{ displayName: 'Viz Components', id: Library.VizComponents }"
      [expanded]="false"
    ></app-lib-docs>
  }
</nav>
