<div class="dots-example" *ngIf="vm$ | async as vm">
  <vic-xy-chart [config]="vm.chartConfig">
    <ng-container svg-elements>
      <svg:g vic-xy-background></svg:g>
      <svg:g vic-x-quantitative-axis [config]="vm.xAxisConfig" />
      <svg:g vic-y-quantitative-axis [config]="vm.yAxisConfig" />
      <svg:g
        vic-primary-marks-dots
        [config]="vm.dataConfig"
        vicDotsEvents
        [hoverMoveActions]="hoverActions"
        (interactionOutput)="updateTooltipForNewOutput($event)"
      >
        <vic-html-tooltip
          [config]="tooltipConfig$ | async"
          [template]="htmlTooltip"
        ></vic-html-tooltip>
      </svg:g>
    </ng-container>
  </vic-xy-chart>
</div>

<ng-template #htmlTooltip>
  @if (interactionOutput$ | async; as interactionOutput) {
    <div
      [style.--color]="interactionOutput.color"
      class="dots-example-tooltip-container"
    >
      <div class="tooltip-body">
        <p class="tooltip-label category">
          {{ interactionOutput.values.fill }}
        </p>
        <div class="values-container">
          <p class="tooltip-label x">
            <span class="value-label">Max Temperature</span>
            {{ interactionOutput.values.x }}
          </p>
          <p class="tooltip-label y">
            <span class="value-label">Precipitation</span>
            {{ interactionOutput.values.y }}
          </p>
          <p class="tooltip-label radius">
            <span class="value-label">Wind</span>
            {{ interactionOutput.values.radius }}
          </p>
        </div></div
      >
      <vic-tooltip-triangle></vic-tooltip-triangle>
    </div>
  }
</ng-template>
