@use 'vars' as *;
@use 'functions' as *;
@use 'index' as hsi-adk;
@use '../../styles/placeholders.scss' as *;

.dots-example {
  .vic-xy-chart {
    display: block;
  }
}

.dots-example-tooltip-container {
  @extend %vic-examples-tooltip-container-styles;
}
