@import 'vars', 'placeholders';

$title-height: 12vh;
$content-height: 100vh - $title-height;

:host {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  padding-left: $grid-2;
  padding-top: $grid-4;
  @extend %typography-headline-2;
  border-bottom: 1px solid $color-primary-6;
  flex: 0 0 auto;
  height: $title-height;
  white-space: nowrap;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: $content-height;
}

.navbar {
  overflow-y: auto;
  min-width: 260px;
  flex: 1 0 auto;
  border-right: 1px solid $color-primary-6;
}

.main-content {
  overflow-y: auto;
  flex: 10 1 auto;
  padding: $grid-8;
}
