@import 'vars', 'placeholders';

:host {
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 105rem;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.app-container {
  width: 95vw;
  margin: 0px auto;
}
