@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

:host {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}

$title-height: 12vh;
$content-height: 100vh - $title-height;

.content-element {
  overflow-y: scroll;
  flex: 1 1 auto;
  height: $content-height;
  padding: grid(4) grid(8);
}

.content-fixed-element {
  overflow-y: scroll;
  flex: 0 0 auto;
  height: $content-height;
}

.title {
  padding-left: grid(2);
  @extend %typography-headline-2;
  border-bottom: 1px solid color.$primary-7;
  flex: 0 0 auto;
  height: $title-height;
}
