@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

:host {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}

$title-height: 96px;
$content-height: calc(100vh - $title-height);

.content-element {
  overflow-y: scroll;
  flex: 1 1 auto;
  height: $content-height;
  padding: grid(4) grid(8);
}

.content-fixed-element {
  overflow-y: scroll;
  flex: 0 0 auto;
  height: $content-height;
}

.title {
  @extend %typography-h2;
  padding-top: grid(3);
  padding-left: grid(3);
  border-bottom: 1px solid color.$primary-7;
  flex: 0 0 auto;
  height: $title-height;
  white-space: nowrap;
}

.main-content {
  padding: grid(8) grid(8) 0 grid(8);
  flex-grow: 1;
}
