@import 'vars', 'placeholders';

:host {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}

$title-height: 12vh;
$content-height: 100vh - $title-height;

.content-element {
  overflow-y: scroll;
  flex: 1 1 auto;
  height: $content-height;
}

.title {
  padding-left: $grid-2;
  @extend %typography-headline-2;
  border-bottom: 1px solid $color-primary-7;
  flex: 0 0 auto;
  height: $title-height;
}
