@import 'vars', 'placeholders';

:host {
  margin: 0px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 7fr;
  overflow: hidden;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.title {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-left: $grid-2;
  @extend %typography-headline-2;
  border-bottom: 1px solid $color-primary-7;
}
