@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'color';

$title-height: 72px;
$content-height: calc(100vh - $title-height);

:host {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  padding-left: grid(4);
  @extend %typography-h3;
  border-bottom: 1px solid color.$primary-6;
  flex: 0 0 auto;
  height: $title-height;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: $content-height;
}

.sidebar {
  overflow-y: auto;
  width: 300px;
  min-width: 280px;
  border-right: 1px solid color.$primary-6;
}

.main-content {
  overflow-y: auto;
  flex: 10 1 auto;
  padding: grid(8);
}
