<h3 class="title"
  ><ng-content select="[title]"></ng-content> Data Marks component</h3
>
<div class="demo-container">
  <ng-content select="[demo]"></ng-content>
</div>

<div [formGroup]="controlPanel">
  <app-radio-input
    [option]="{label: 'typescript', value: 'ts'}"
    formControlName="selectedFile"
  ></app-radio-input>
  <app-radio-input
    [option]="{label: 'html', value: 'html'}"
    formControlName="selectedFile"
  ></app-radio-input>
  <app-radio-input
    [option]="{label: 'scss', value: 'scss'}"
    formControlName="selectedFile"
  ></app-radio-input>
</div>
<app-render-file
  [filePath]="baseSourceUrl + controlPanel.controls['selectedFile'].value"
></app-render-file>
