@import 'vars', 'placeholders';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $grid-8 $grid-8 0 $grid-8;
}

.title {
  @extend %typography-headline-5;
}

.demo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
