@import '../ca-access.scss';

.image {
  padding-left: 250px !important;
}

.vic-bars-g rect {
  fill: $goalColor;
}

.goal rect {
  fill: $goalColor;
}

.strat-label {
  text {
    text-transform: uppercase;
    text-anchor: middle;
  }

  line {
    stroke: black;
    stroke-width: 2px;
  }
}
