@use '../../combobox.scss' as *;
@use 'functions' as *;

.multi-select-combobox-example.disabled-example {
  .combobox-value {
    padding-bottom: grid(4);
  }

  @extend %multi-select-combobox-example-styles;
}
