<div class="radio-input-container">
  <input
    class="radio-input cdk-visually-hidden"
    [id]="uniqueId"
    type="radio"
    [value]="value"
    [formControlName]="formControlName"
    [attr.aria-labelledby]="'label-' + uniqueId"
  />
  <label
    class="radio-input-label"
    [ngClass]="{'selected': (selected$ | async), 'disabled': disabled}"
    title="{{disabled && disabledMessage ? disabledMessage : ''}}"
    [for]="uniqueId"
    [id]="'label-' + uniqueId"
  >
    <ng-content></ng-content>
  </label>
</div>
