@use '../../ca-access-interim/csa/csa.component.scss';

svg {
  overflow: visible;
}

.image {
  padding: 160px 170px 10px 10px !important;
}

.circle {
  stroke-opacity: 1;
}

.size-label,
.labels tspan {
  alignment-baseline: middle;
}
