<h2 class="main-title">Table Directives</h2>
<p>We provide custom directives to add more complex functionality (e.g. sorting by tiebreaks) to a base CDK table.</p>
<p>For further info on Angular's CDK table please go here: <a href="https://material.angular.io/cdk/table/overview">https://material.angular.io/cdk/table/overview</a></p>
<app-split-panel-example-display
  height="600px"
  path="app/content/ui-components/table-content/table-example"
  class="example"
  label="basic cdk table example"
>
  <app-table-example></app-table-example>
</app-split-panel-example-display>
