@use 'vars' as *;
@use 'functions' as *;
@use 'colors';

:host {
  display: flex;
  flex-direction: column;
  padding-top: grid(4);
}

.header {
  display: flex;
  gap: grid(4);
  align-items: center;
  justify-content: flex-end;
}

.file-name-readout {
  position: relative;
  top: 2px;
}

.label {
  padding-right: grid(3);
}

.file-name {
  font-family: $code-font;
}

.download-button {
  cursor: pointer;
  border: 1px solid colors.$primary-100;
  background-color: colors.$primary-50;
  display: flex;
  gap: grid(1);
  align-items: center;
  justify-content: center;
  padding: grid(1) grid(2);
  border-radius: grid(2);
}

.download-button:hover {
  border-color: colors.$highlight-light;
  background-color: colors.$highlight-light;
  color: white;
}

.image-container {
  margin: grid(2) 0;
  border: 1px dashed colors.$primary-400;
  padding: grid(2);
  border-radius: grid(2);
}

.image {
  height: 100%;
}
