name: Deploy demo-app

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-east-1
  AWS_DEFAULT_OUTPUT: json
  ENVTYPE: ${{ vars.ENVTYPE }}
  S3WebsiteDeployBucket: ${{ vars.S3_WEBSITE_DEPLOY_BUCKET }}
  CloudFrontDistributionId: ${{ vars.CLOUDFRONT_DISTRIBUTION_ID }}

jobs:
  deploy-demo-app:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Build Demo App
        run: npm run build:demo-app

      - name: Deploy website
        run: |
          cd infrastructure
          npx serverless deploy --verbose --stage $ENVTYPE
          cd ..
          aws s3 rm s3://$S3WebsiteDeployBucket --recursive
          aws s3 cp ./dist/demo-app/browser s3://$S3WebsiteDeployBucket --recursive
          aws s3 cp ./dist/demo-app/3rdpartylicenses.txt s3://$S3WebsiteDeployBucket/3rdpartylicenses.txt
          aws s3 cp ./dist/demo-app/browser/index.html s3://$S3WebsiteDeployBucket/index.html --metadata-directive REPLACE --cache-control no-cache --content-type "text/html"
          aws cloudfront create-invalidation --distribution-id=$CloudFrontDistributionId --paths "/*"
