name: Deploy to Codeartifact, Cloudfront

on:
  push:
    branches:
      - 417-component-code-is-not-displaying-correctly-in-deployed-demo-app

permissions:
  contents: read
  pull-requests: read

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-east-1
  AWS_DEFAULT_OUTPUT: json
  ENVTYPE: ${{ vars.ENVTYPE }}
  S3WebsiteDeployBucket: ${{ vars.S3_WEBSITE_DEPLOY_BUCKET }}
  CloudFrontDistributionId: ${{ vars.CLOUDFRONT_DISTRIBUTION_ID }}

jobs:
  deploy-demo-app:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build Compodoc Documentation
        run: npm run build:documentation

      - name: Build Demo App
        run: npm run build:demo-app

      - name: Deploy website
        run: |
          cd infrastructure
          npx serverless deploy --verbose --stage $ENVTYPE
          cd ..
          aws s3 rm s3://$S3WebsiteDeployBucket --recursive
          aws s3 cp ./dist/demo-app/browser s3://$S3WebsiteDeployBucket --recursive
          aws s3 cp ./dist/demo-app/3rdpartylicenses.txt s3://$S3WebsiteDeployBucket/3rdpartylicenses.txt
          aws s3 cp ./dist/demo-app/browser/index.html s3://$S3WebsiteDeployBucket/index.html --metadata-directive REPLACE --cache-control no-cache --content-type "text/html"
          aws cloudfront create-invalidation --distribution-id=$CloudFrontDistributionId --paths "/*"

  deploy-viz-components:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Get Current Pull Request
        uses: 8BitJonny/gh-get-current-pr@3.0.0
        id: PR

      - name: Install Dependencies
        run: npm ci

      - name: Build viz-components
        run: npm run build:viz-components

      - name: Authenticate to codeartifact
        run: aws codeartifact login --tool npm --repository shared-package-repository --domain shared-package-domain --namespace @hsi

      - name: Deploy viz-components to codeartifact
        run: |
          cd ./dist/viz-components
          npm publish

      - name: Notify Success
        if: success()
        env:
          pkg: viz-components
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_VIC }}
          pr_title: ${{ steps.PR.outputs.pr_title }}
          pr_url: ${{ steps.PR.outputs.pr_url }}
        run: bash scripts/notify_version_released.sh

  deploy-ui-components:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Get Current Pull Request
        uses: 8BitJonny/gh-get-current-pr@3.0.0
        id: PR

      - name: Install Dependencies
        run: npm ci

      - name: Build ui-components
        run: npm run build:ui-components

      - name: Authenticate to codeartifact
        run: aws codeartifact login --tool npm --repository shared-package-repository --domain shared-package-domain --namespace @hsi

      - name: Deploy ui-components to codeartifact
        run: |
          cd ./dist/ui-components
          npm publish

      - name: Notify Success
        if: success()
        env:
          pkg: ui-components
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_UIC }}
          pr_title: ${{ steps.PR.outputs.pr_title }}
          pr_url: ${{ steps.PR.outputs.pr_url }}
        run: bash scripts/notify_version_released.sh
