name: Slack notification for open review

on:
  pull_request_review:
    types: [submitted]

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-east-1
  AWS_DEFAULT_OUTPUT: json

jobs:
  approved:
    # TODO: change base ref to main
    if: github.event.review.state == 'APPROVED' && github.event.pull_request.base.ref == 'throwaway-testing'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Calculate next weekday
        id: next_weekday
        run: |
          get_next_weekday() {
              date=$(date +%Y-%m-%d)
              while true; do
                  day_of_week=$(date -d "$date" +%u)
                  if [ "$day_of_week" -lt 6 ]; then
                      echo "$date"
                      break
                  fi
                  date=$(date -d "$date + 1 day" +%Y-%m-%d)
              done
          }
          next_weekday=$(get_next_weekday)
          echo "::set-output name=date::$next_weekday"

      - name: Get package versions
        run: |
          vic_version=$(node -p "require('./projects/viz-components/package.json').version")
          uic_version=$(node -p "require('./projects/ui-components/package.json').version")
          echo "vic_version=$vic_version" >> $GITHUB_ENV
          echo "uic_version=$uic_version" >> $GITHUB_ENV

      - name: Send Slack notification for newly approved viz-components version
        run: |
          vic_output=$(aws codeartifact list-package-versions --package viz-components \
              --domain shared-package-domain \
              --domain-owner 922539530544 \
              --namespace hsi \
              --repository shared-package-repository \
              --format npm \
              --output json)

          latest_vic_version=$(echo "$vic_output" | jq -r '.versions[] | select(.version | test("^[0-9]+\\.[0-9]+\\.[0-9]+$")) | .version' | sort -V | tail -n 1)

          echo "Latest version of viz-components: $latest_vic_version"
          echo "Current version of viz-components: ${{ env.vic_version }}"

          if [[ "$latest_vic_version" != "${{ env.vic_version }}" ]]; then
            curl -X POST -H 'Content-type: application/json' --data '{"text": "`viz-components` v${{ env.vic_version }} (<${{ github.event.review.pull_request_url }}|${{ github.event.pull_request.title }}>) was approved and will be released on ${{ steps.next_weekday.outputs.date }}. Take a look if you'd like!"}' $SLACK_WEBHOOK_URL
          fi

      # TODO: change $SLACK_WEBHOOK_URL to $SLACK_WEBHOOK_URL_VIC/UIC

      - name: Send Slack notification for newly approved ui-components version
        run: |
          uic_output=$(aws codeartifact list-package-versions --package ui-components \
              --domain shared-package-domain \
              --domain-owner 922539530544 \
              --namespace hsi \
              --repository shared-package-repository \
              --format npm \
              --output json)

          latest_uic_version=$(echo "$uic_output" | jq -r '.versions[] | select(.version | test("^[0-9]+\\.[0-9]+\\.[0-9]+$")) | .version' | sort -V | tail -n 1)

          echo "Latest version of ui-components: $latest_uic_version"
          echo "Current version of ui-components: ${{ env.uic_version }}"

          if [[ "$latest_uic_version" != "${{ env.uic_version }}" ]]; then
            curl -X POST -H 'Content-type: application/json' --data '{"text": "`ui-components` v${{ env.uic_version }} (<${{ github.event.review.pull_request_url }}|${{ github.event.pull_request.title }}>) was approved and will be released on ${{ steps.next_weekday.outputs.date }}. Take a look if you'd like!"}' $SLACK_WEBHOOK_URL
          fi
