name: Notify open review

on:
  push:
    branches:
      - '*'
  # pull_request_review:
  #   types: [submitted]

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-east-1
  AWS_DEFAULT_OUTPUT: json
  SLACK_WEBHOOK_URL_VIC: ${{ secrets.SLACK_WEBHOOK_URL_VIC }}
  SLACK_WEBHOOK_URL_UIC: ${{ secrets.SLACK_WEBHOOK_URL_UIC }}
  SLACK_WEBHOOK_URL_ADK: ${{ secrets.SLACK_WEBHOOK_URL_ADK }}

jobs:
  approved:
    # if: github.event.review.state == 'APPROVED' && github.event.pull_request.base.ref == 'main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Calculate next weekday
        id: next_weekday
        run: bash scripts/get_next_weekday.sh

      - name: Get packages with version bump
        id: changed_pkgs
        run: bash scripts/get_pkgs_with_version_bump.sh

      - name: Send Slack notification for newly approved package version
        env:
          changed_pkgs: ${{ env.changed_pkgs }}
          next_weekday: ${{ env.next_weekday }}
          pr_title: ${{ github.event.pull_request.title }}
          pr_url: ${{ github.event.pull_request.html_url }}
        run: bash scripts/notify_version_approved.sh
