name: Testing, Linting, and Building

on: [push]

permissions: write-all

jobs:
  runs-on-local-files:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Verify nonexistence of @hsi in package.json
        run: |
          if grep -q "@hsi" package.json; then
            echo "Error: Found @hsi in package.json"
            exit 1
          fi

      - name: Verify existence of @hsi in tsconfig.json
        run: |
          if ! grep -q "@hsi" tsconfig.json; then
            echo "Error: Did not find @hsi in tsconfig.json"
            exit 1
          fi

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Lint affected apps and packages
        run: npx nx affected -t lint --base=remotes/origin/main --head=HEAD

  unit-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Unit test affected apps and packages
        run: npx nx affected -t test --base=remotes/origin/main --head=HEAD

  cypress-test:
    runs-on: ubuntu-latest
    # timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          npm --version
          npm ci

      - name: Run cypress component tests
        run: npx nx affected -t component-test --base=remotes/origin/main --head=HEAD --parallel=false --verbose

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Build affected apps and packages
        run: npx nx affected -t build --base=remotes/origin/main --head=HEAD
