name: Testing, Linting, and Building

on: [push]

permissions: write-all

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Lint package
        run: npm run lint:lib

      - name: Lint demo-app
        run: npm run lint

  unit-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Unit Test Library
        run: npm run test:lib:ci

      - name: Unit Test Demo App
        run: npm run test:demo:ci

  cypress-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run cypress component tests
        run: npm run cypress:component:ci

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
          cache: 'pipenv'

      - name: Install Python Dependencies
        run: |
          pip install pipenv
          pipenv sync --dev

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build Library
        run: npm run build:lib

      - name: Build Custom Schematics
        run: npm run build --prefix projects/viz-components

      - name: Build Compodoc Documentation
        run: npm run build:documentation

      - name: Build Code Snippets
        run: npm run build:code-snippets

      - name: Build Demo App
        run: npm run build:demo-app
