name: Testing, Linting, and Building

on: [push]

permissions: write-all

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Authenticate to codeartifact
        run: aws codeartifact login --tool npm --repository shared-package-repository --domain shared-package-domain --namespace @hsi

      - name: Install Dependencies
        run: npm ci

      - name: Lint viz-components
        run: npm run lint:viz-components

      - name: Lint ui-components
        run: npm run lint:ui-components

      - name: Lint demo-app
        run: npm run lint:demo-app

  unit-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Authenticate to codeartifact
        run: aws codeartifact login --tool npm --repository shared-package-repository --domain shared-package-domain --namespace @hsi

      - name: Install Dependencies
        run: npm ci

      - name: Unit test viz-components
        run: npm run test:viz-components:ci

      - name: Unit test ui-components
        run: npm run test:ui-components:ci

  cypress-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Authenticate to codeartifact
        run: aws codeartifact login --tool npm --repository shared-package-repository --domain shared-package-domain --namespace @hsi

      - name: Install Dependencies
        run: npm ci

      - name: Run cypress component tests
        run: npm run cypress:component:ci

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Authenticate to codeartifact
        run: aws codeartifact login --tool npm --repository shared-package-repository --domain shared-package-domain --namespace @hsi

      - name: Install Dependencies
        run: npm ci

      - name: Build viz-components
        run: npm run build:viz-components

      - name: Build ui-components
        run: npm run build:ui-components

      - name: Build Custom Schematics
        run: npm run build --prefix projects/viz-components

      - name: Build Compodoc Documentation
        run: npm run build:documentation

      - name: Build Demo App
        run: npm run build:demo-app
