<div class="documentation-container" #file>
  @if (contentService.content$ | async; as content) {
    <div class="documentation-content">
      <div class="main-content">
        @for (section of content.sections; track $index) {
          @if (section.type === ContentSection.Markdown) {
            <div class="injected-html" [innerHTML]="section.html"></div>
          } @else if (section.type === ContentSection.CustomAngular) {
            <ng-container
              *ngIf="customAngularTemplateRef"
              [ngTemplateOutlet]="customAngularTemplateRef"
              [ngTemplateOutletContext]="{ $implicit: section }"
            >
            </ng-container>
          } @else if (section.type === ContentSection.BuilderMethod) {
            <ng-container
              [ngTemplateOutlet]="method"
              [ngTemplateOutletContext]="{ $implicit: section.content }"
            >
            </ng-container>
          }
        }
      </div>
      <hsi-adk-document-index
        class="document-index"
        [headings]="content.headings.slice(1)"
        (activeHeading)="scrollToHeading($event)"
      ></hsi-adk-document-index>
    </div>
  }
</div>

<ng-template let-content #method>
  <div class="builder-method">
    @if (content.methods) {
      @for (item of content.overview; track $index) {
        <div class="overview" class="injected-html" [innerHTML]="item"></div>
      }
      @for (method of content.methods; track $index) {
        <h4 class="method-name" [id]="method.name">{{ method.name }}</h4>
        @for (item of method.description; track $index) {
          <div class="description injected-html" [innerHTML]="item"></div>
        }
        <div class="params">
          @for (param of method.params; track $index) {
            <div class="param">
              <p class="param-def">
                <span class="label">&#64;param</span
                ><span class="name">{{ param.name }}:</span
                ><code class="type-def">{{ param.type }}</code>
              </p>
              @for (item of param.description; track $index) {
                <div
                  class="param-description injected-html"
                  [innerHTML]="item"
                ></div>
              }
            </div>
          }
        </div>
      }
    } @else {
      <h4 class="method-name" [id]="content.name">{{ content.name }}</h4>
      @for (item of content.description; track $index) {
        <div class="description injected-html" [innerHTML]="item"></div>
      }
      <div class="params">
        @for (param of content.params; track $index) {
          <div class="param">
            <p class="param-def">
              <span class="label">&#64;param</span
              ><span class="name">{{ param.name }}:</span
              ><code class="type-def">{{ param.type }}</code>
            </p>
            @for (item of param.description; track $index) {
              <div
                class="param-description injected-html"
                [innerHTML]="item"
              ></div>
            }
          </div>
        }
      </div>
    }
  </div>
</ng-template>
